[2015-02-19 10:17] DanielDornhardt opened #1 "Client Error and can't find package sourcecode"
Cross-Post from Crater.io (http://crater.io/posts/N62srhR5ojoEDFhNX):

Hi, looks great, and I'd like to try it, but I'm getting an exception:

    Exception from Tracker afterFlush function: Error: Failed to execute 'insertRule' on 'CSSStyleSheet': Failed to insert the rule.
      at Error (native) at Template.MongoInspector.rendered (http://localhost:3000/packages/msavin_mongol.js?558950870b2ec9c

[2015-02-19 10:30] parhelium opened #2 "Collection can't be found : "Uncaught TypeError: Cannot read property 'find' of undefined""
First of all thank you for this great package!

## Issue:
Package cannot find collection if name of collection is not equal to the name of holding variable.
Example:

[code]

I assume that you are trying to find collection by name using  : window[name]

There is package which can help to find the collection by name:
https://github.com/dburles/mongo-collection-instances/

Hopefully it should solve

[2015-02-19 14:38] todda00 opened #3 "Does not work with Meteor.users"
I have this working for the collections I have created, but it does not work for Meteor.users, throws this client error.

[code]

I can run Meteor.users.find({}) in the browser console without issue.

[2015-02-19 16:26] kevohagan commented on #3
What did you list in your collections field when setting Mongol in your Session?

You should list

[code]

[2015-02-19 16:29] kevohagan opened #4 "Suggestion: remove display none on by default on small screens"
Im developping a mobile app and in my setup I use a small screen by default , and #MongoInspector has display:none on screens <768px.

woudl be nice to be able to initiate that on Session.set Mongol

Love the package!!

This is great to check you pub/sub on different pages!!

[2015-02-19 16:39] delay commented on #3
I have also tried both
'collections': ['Users']
and
'collections': ['Meteor.users']
and neither works.  I know I have at least some users in my test system as I can login with no problem.

Uncaught TypeError: Cannot read property 'find' of undefinedcollection.js:16 Template.MongoInspector_collection.events.clicktemplate.js:278 (anonymous function)view.js:760 (anonymous function)view.js:414 Blaze._

[2015-02-19 16:47] kevohagan commented on #3
Strange.. Well it is working for me! :)

[code]

On Thu Feb 19 2015 at 5:39:59 PM delay notifications@github.com wrote:

[2015-02-19 16:57] msavin commented on #3
Are you publishing and subscribing to the user collection?

Sent from my iPhone

[2015-02-19 19:14] todda00 commented on #3
Yes, I am subscribing to the Meteor.users collection and have it published. Only difference is I am not initializing the collection myself , as it is initialized by Meteor core. This is not a deal breaker for me, but it might be nice to manage the built in Meteor.Users collection.

I have tried Meteor.users, Meteor.Users, users, Users with the same result.

Perhaps its a load order, maybe if the p

[2015-02-19 22:14] delay commented on #3
It's still not working for me either.  I didn't have it subscribed to previously.  I tried subscribing to it a few ways but still no luck.  It works great for all of the collections I created on my own.  I just can't get it to read the Meteor.users collection (which was setup in accounts-base, accounts-password for me).  I am a bit new to meteor so I am probably making some dumb mistake.  If you c

[2015-02-19 22:27] msavin commented on #3
I think the issue here is that users is a namespaced collection. The fix for that is coming soon :)

Sent from my iPhone

[2015-02-19 22:51] msavin opened #5 "Namespacing issue"
Does not yet support namespaced collections

[2015-02-19 23:24] rklaeboe opened #6 "<pre> background-color"
Solved problem with pre background-color being white by adding:
#MongoInspector pre {background-color: #222222;}

Could perhaps be specified as part of the Session.set
Nice tool !

[2015-02-20 02:15] lucatros opened #7 "CSS glitches"
Hi Max!

I see some CSS glitches. Probably, they are conflicts with my App's CSS.

On the first image the Duplicate and Remove buttons are off. I see this issue in Chrome for MAC but not in Safari.
On the second image, you'll see that text is white when I hit Update button.

I'll try to troubleshoot these issues and let you know.

![screen shot 2015-02-20 at 12 00 25 am](https://cloud.githubuserco

[2015-02-20 05:25] msavin opened #8 "Bug with updating documents"
When you update documents, it doesn't remove the omitted fields

[2015-02-20 06:02] fungilation commented on #4
I second this, it should be a configurable option. A use case would be in dev, I can use a mobile width (320) but make it very tall so there's still space for Mongol at the bottom.

And yes, cool package! I've been using http://genghisapp.com/, this would be a better inline replacement.

[2015-02-20 06:10] JackAdams opened #9 "Auto-detect collections, so it's just plug-and-play with no configuration"
No need for the config setup step - just make it plug-and-play, using a default config.  Devs can put in their own custom config if they want to.

Use the (very lightweight) ([dburles:mongo-collection-instances](https://github.com/dburles/mongo-collection-instances) package.

By default you get all the collections (including namespaced ones) in Mongol.  If someone only wants a subset of the collec

[2015-02-20 06:49] dan335 commented on #6
The background is white for me also which makes the text hard to read.

[2015-02-20 08:01] steph643 commented on #3
Same issue here.

[2015-02-20 08:10] steph643 commented on #7
Similar issue here. I got **no left arrow**, so I can not navigate to the previous doc in the collection:

![image](https://cloud.githubusercontent.com/assets/7039479/6283105/c3c63a6c-b8df-11e4-9a15-e2ae3eee8dd7.png)

Also, when I select "Update", all text becomes white:

![image](https://cloud.githubusercontent.com/assets/7039479/6283130/155a8342-b8e0-11e4-94ac-3c441cbb508b.png)

[2015-02-20 08:13] steph643 commented on #7
Maybe this is linked to this exception I get at load time:

[code]

[2015-02-20 22:29] almogdesign opened #10 "Whats the difference between this and mongoinspector"
Also do you need to install both packages.

[2015-02-21 01:38] Digital-Thor commented on #7
Thanks for making this tool.  I'm having similar problems with left button disappearing on Chrome at 100% browser zoom. In Firefox, I get neither left nor right buttons and changing zoom doesn't help. I also inspected the CSS class and it appears that the div is disabled. (Orange box annotations are mine.)

![image](https://cloud.githubusercontent.com/assets/2617288/6312231/bac00726-b926-11e4-8079

[2015-02-21 04:54] msavin commented on #7
Thanks for letting me know! I will work to resolve these things on Monday. Let me know if you have any other issues.

[2015-02-21 06:03] ashishgupta2 commented on #10
As per mongoinspector github page it is deprecated and they are suggested to use Mongol. No need to install both, just Mongol should be enough!

https://github.com/msavin/MongoInspector

"Meteor package for visualizing your collections in the browser. **DEPRECATED: Please use Mongol"

[2015-02-21 15:27] dpastoor commented on #7
bumping as well for the same issue(s) - running on chrome v40.0.2 on osx mavericks

[2015-02-21 21:09] Schonne opened #12 "Chrome Styles not showing after installing into project"
Immediately after removing mongo inspector and adding mongol, the styles section of Chrome inspector doesn't show specific styles for elements on the page - it only show the box model  (http://i.stack.imgur.com/BPFut.png). Removing mongol restores chrome's ability to show styles on the page. Quick note: I had your session inspector installed the entire time, if that helps

[2015-02-21 22:30] msavin commented on #12
Hmm - not sure what you mean man. Can you send a screenshot of the whole window?

[2015-02-21 22:31] msavin commented on #7
I just pushed an update with a potential fix for the code window.. can you let me know if that helped?

[2015-02-21 22:48] Schonne commented on #12
[image: Inline image 1]

On Sat, Feb 21, 2015 at 5:30 PM, Max Savin notifications@github.com wrote:

[2015-02-21 22:52] msavin commented on #12
Not sure that works - all I'm seeing is "[image: Inline image 1]"

[2015-02-21 23:00] Schonne commented on #12
Try this link: http://schonne.com/mongol.png

On Sat, Feb 21, 2015 at 5:52 PM, Max Savin notifications@github.com wrote:

[2015-02-22 09:02] isAlmogK commented on #10
Thanks didn't see the DEPRECATED message

[2015-02-22 09:02] #10 closed

[2015-02-22 10:08] almogdesign opened #13 "Uncaught Error: No such template: Mongol_accountViewer"
Getting the following error - Uncaught Error: No such template: Mongol_accountViewer

Also it's not displaying

[2015-02-22 12:12] ssteinerx opened #14 "Login dialog never closes if you login through Mongol mini-window."
Start app not logged in.

Try to sign in from within Mongol mini-window.

Dialogs appear both in Mongol mini-window, and main window.

Log in using Mongol mini-window.

Sign-in happens, but login dialog in Mongol mini-window doesn't and cannot be closed.

[2015-02-22 12:42] ssteinerx commented on #14
The Mongol mini-window version of the login dialog also interferes with the main one leading to "Username must be at least 3 characters long" error message when when trying to login from main window.  IOW with Mongol installed, you MUST login from Mongol's mini-window version of the dialog which then won't close.

[2015-02-22 13:16] ssteinerx commented on #14
And, if you hit refresh after logging in, you stay logged in, but Mongol reports that you are not:

https://www.dropbox.com/s/kjkhsfwmp7bue3v/Screenshot%202015-02-22%2008.12.55.png?dl=0

[2015-02-22 14:22] steph643 commented on #7
Here is what I get:
- When I select "Update", all text becomes white but the background now turns black. So this looks like it is fixed.
- Still no left arrow (to navigate through mongo doc)
- This exception:
  `Exception from Tracker afterFlush function: Error: Failed to execute 'insertRule' on 'CSSStyleSheet': Failed to insert the rule.`
  has been replaced by this one:
  `Exception from Tracker

[2015-02-22 23:27] sunkay commented on #13
Here's the stack trace:
Exception from Tracker recompute function: Error: No such template: Mongol_accountViewer
    at http://localhost:3000/packages/blaze.js?efa68f65e67544b5a05509804bf97e2c91ce75eb:2809:15
    at null.<anonymous> (http://localhost:3000/packages/spacebars.js?7f53771c84a2eafac2b561c9796dda0d8af8e7f5:71:23)
    at http://localhost:3000/packages/blaze.js?efa68f65e67544b5a05509804bf

[2015-02-23 00:44] msavin commented on #13
Sorry about that - forgot to update the package.js file. Please let me know if the new update fixed it.

[2015-02-23 00:50] msavin commented on #6
This is a bug that I think people using Bootstrap / Material have experienced. Can you update and see what it looks like now? A screen shot would be appreciated!

[2015-02-23 02:25] msavin commented on #1
This should be fixed in the new update.. let me know if you're still having issues.

Code coming soon.

[2015-02-23 02:25] #1 closed

[2015-02-23 02:27] msavin commented on #2
It sounds like you're listing the collection name instead of the variable. Let me know if you're having issues despite that.

Re auto-detection: we did that with MongoInspector but people had issues when the package wasn't listed first on the package list. Definitely going to look into how we can get this working in the long term.

[2015-02-23 02:27] #2 closed

[2015-02-23 02:29] msavin commented on #7
All these glitches should be resolved. Please let me know if you're still experiencing any after the update. Thanks for letting me know about them!

[2015-02-23 02:29] #7 closed

[2015-02-23 02:30] msavin opened #15 "Bug with updating Meteor.users"
It automatically signs out on the update. Maybe its because of the namespace?

[2015-02-23 02:30] #13 closed

[2015-02-23 09:01] isAlmogK commented on #13
Thanks that is fixed

[2015-02-23 19:48] rklaeboe commented on #6
OK now !

[2015-02-23 19:48] #6 closed

[2015-02-23 20:05] rklaeboe commented on #6
Here is the screenshot

Ronny Klæboe (Dr.Philos.)

Sponstuveien 49

NO1263 Oslo

Norway

r@klaeboe.info

Fra: Max Savin [mailto:notifications@github.com]
Sendt: 23. februar 2015 01:50
Til: msavin/Mongol
Kopi: Ronny Klæboe
Emne: Re: [Mongol] <pre> background-color (#6)

This is a bug that I think people using Bootstrap / Material have experienced. Can you update and see what it looks like now? A sc

[2015-02-23 21:19] msavin commented on #12
Hey man, still not sure what you mean. Can I see some of the source code surrounding the conflict?  Maybe that would help

[2015-02-23 21:21] msavin commented on #14
Tried to replicate but did not have the same result. I did push an update surrounding account management thought - can you check if that made any difference?

[2015-02-24 01:07] msavin commented on #9
Jack,

That's a great idea. With MongoInspector, we had some issues with this approach when the package wasn't listed at the top of the packages list. If you think this approach will have the same issues, maybe we should preserve the option for manual input.

I just pushed up the package source code, looking forward to seeing your PR!
- Max

[2015-02-24 01:09] msavin commented on #4
Since we're using hot keys, I took the responsive thing off. Enjoy!

[2015-02-24 01:09] #4 closed

[2015-02-24 01:58] JackAdams commented on #9
Yeah, man.  Putting that PR together is the first thing I'll be doing when I get home from work tonight.  I'm really excited about Mongol and looking forward to using it in all my projects.  "Insanely useful" is an understatement.

[2015-02-24 03:11] msavin commented on #9
Awesome man! I can't wait to see it. Let me know if you need any help along the way.

[2015-02-24 03:14] msavin commented on #9
On a side note; we did not use the same exact code as @dburles so maybe it won't have the same issue

[2015-02-24 13:24] DanielDornhardt opened #16 "Duplicating Documents which have been wrapped with additional methods..."
seems to lead to an error.

The issue seems to be that the "duplicate" - code runs through all the objects' properties as returned by Collection.find() . But unfortunately I wrap those with a class and additional methods using meteors' "transform" - function.

As I don't see the functions and additional data fields added by the constructor in the json for updating the documents via mongol I think

[2015-02-24 16:49] jindrichbartek commented on #3
Also we have same problem in our project.

[2015-02-25 01:43] wallslide commented on #16
I also ran into a problem with transformed objects. I have a parent object that has an array of sub-objects, and I store a reference to the parent object in the sub objects. Unfortunately I get a circular reference error which doesn't allow me to use that collection with Mongol. If Mongol would either display collection documents pre-transformation, or give me a hook to de-transform the object bef

[2015-02-25 14:56] JackAdams commented on #15
#17 fixes this.  In my experiments, I think it's because updates were overwriting the `services` field (which is not published) with client side data that had no `services` field.  I wrote a little diffing algorithm to preserve unpublished fields and applied it to all updates, including Meteor.users.

[2015-02-25 14:59] JackAdams commented on #14
I was able to reproduce this bug. #17 has a fix for this, but it needs a bit more polishing. At least the account panel doesn't interfere with the sign-in process anymore.

[2015-02-25 15:01] #9 closed

[2015-02-25 15:02] JackAdams commented on #8
#17 solves this.

[2015-02-25 15:02] JackAdams commented on #5
#17 solves this.

[2015-02-25 15:03] JackAdams commented on #3
#17 fixes this.

[2015-02-25 17:06] msavin commented on #8
Ah you crazy man :+1:

[2015-02-25 17:06] #8 closed

[2015-02-25 17:24] #5 closed

[2015-02-25 17:24] msavin commented on #15
Nice man, thanks for knocking that one out!

[2015-02-25 17:24] #15 closed

[2015-02-25 17:24] msavin commented on #3
Can confirm - but would appreciate if you guys would update and let us know how its working

[2015-02-25 17:25] msavin commented on #16
I'll look into this when I have bit more time. Thanks for letting me know!

[2015-02-25 18:01] SantoshSrinivas79 commented on #9
Just wondering ... is the auto detection incorporated? or was this just closed out.

[2015-02-25 18:02] msavin commented on #9
Implemented in 0.4.0 - just run meteor update

Sent from my iPhone

[2015-02-25 18:21] SantoshSrinivas79 commented on #9
What is the configuration i need to do? I currently have the below code in a client `.js` file

[code]

[2015-02-25 18:28] msavin commented on #9
Just remove it 😄

Sent from my iPhone

[2015-02-25 19:36] almogdesign opened #18 "Exception in template helper: TypeError: Cannot read property 'display' of undefined"
Getting the following error

Exception in template helper: TypeError: Cannot read property 'display' of undefined
    at Object.Template.Mongol.helpers.Mongol_enabled (http://localhost:3000/packages/msavin_mongol.js?87d0ec015a5f140346276de151c2446b4fc571b8:969:28)
    at http://localhost:3000/packages/blaze.js?efa68f65e67544b5a05509804bf97e2c91ce75eb:2727:16
    at http://localhost:3000/packages/b

[2015-02-26 02:07] fountainhead opened #19 "Does Mongol work with Autoform / Collection2"
I am running into errors with Mongol with updating, etc.

Here is the test project:

[code]

I can see `mongol` but then editing posts, etc doesn't work

[2015-02-26 03:19] msavin commented on #19
Looks like it doesn't work. This is the error I found:

I20150225-20:18:26.351(-7)? Exception while invoking method 'Mongol_insert' Error: Owner is required
I20150225-20:18:26.353(-7)?     at getErrorObject (packages/aldeed:collection2/collection2.js:363:1)
I20150225-20:18:26.353(-7)?     at [object Object].doValidate (packages/aldeed:collection2/collection2.js:346:1)
I20150225-20:18:26.353(-7)?

[2015-02-26 03:22] msavin commented on #14
@ssteinerx can you confirm if you are experiencing the issue with the update?

[2015-02-26 03:44] molleman opened #20 "Mongol not showing when i press Control + M"
Hey,

i just added the package

when i press Control + M

Nothing is displayed, the scripts are loaded,

Any ideas?

[2015-02-26 03:48] msavin commented on #20
Do you have mousetrap or any key bindings? Also, are you focusing on the web page when you press or, or the browsing application?

Sent from my iPhone

[2015-02-26 03:56] molleman commented on #20
No i don't have mousetrap or any key bindings

I have tested in chrome, safari and firefox

Give you a laugh

I have tried

Control and m
Control and M
Control = M
Control shift m
Control shift M

and so on so forth.

I'm using matteodem/meteor-boilerplate and a few other packages, but I don't see how they would interfere.

Is there anyway to activate it through the console?

[2015-02-26 04:00] msavin commented on #20
Weird man. OS X right? You sure you're not using the command key? Haha

This should do it:

Session.set("Mongol_settings_display", true);

The control + m just flip the value of that variable.

Sent from my iPhone

[2015-02-26 04:05] molleman commented on #20
Yeah OS X , its safe to say i tried every combination in the past 15mins possible with the key M... nothing worked!! :-)

Yup Session.set("Mongol_settings_display", true); worked a treat

Cheers

[2015-02-26 08:49] msavin commented on #20
Glad that worked for you. Strange issue though. Could you share any more details about your system configuration? Just want to make sure that Mongol works well for everyone who installs it.

[2015-02-26 11:20] smeijer commented on #18
Having the same issue:

`Exception in template helper: TypeError: Cannot read property 'display' of undefined
at Object.Template.Mongol.helpers.Mongol_enabled (http://localhost:3000/packages/msavin_mongol.js?87d0ec015a5f140346276de151c2446b4fc571b8:969:28)`

[code]

[2015-02-26 12:13] JackAdams commented on #20
Session.set("Mongol_settings_display", true)

[2015-02-26 13:27] mbabauer commented on #20
I am also having this same issue, and also on OS X.  I looked at my Keyboard setup in Settings and saw no Ctrl-M shortcuts defined there.  I also searched Google, but found nothing.  I know when I hit Ctrl-M my mouse pointer dissapears, so something it happening, just not sure what.

[2015-02-26 14:32] krawalli commented on #19
Thats because of validation (and so the combo of simple schema and collection2).

Simply: all to be saved data must be valid. @msavin: you can simply override the validation if those packages are installed. However be warned: if you override, you could easily inconsistent records (from a simple schema point of view)

[2015-02-26 14:41] JackAdams commented on #20
I was able to reproduce the bug and #21 fixes it.

[2015-02-26 14:46] JackAdams commented on #19
Yep. @krawalli is right. This isn't a Mongol issue -- it's just simple schema doing its job. I recommend not overriding validation (simple schema is added to projects for a reason!) and closing this issue.

[2015-02-26 14:49] SantoshSrinivas79 commented on #19
@JackAdams Just to make sure.

I cannot use Mongol for updating collections using Simple Schema. Correct?
Ability to see if a great help in itself.

[2015-02-26 14:54] JackAdams commented on #19
@fountainhead -- that's correct at the moment.  You can duplicate and remove documents with Mongol + Simple Schema, but insert and update don't work.  I'm working on a PR for Mongol right now to get them fixed too.

[2015-02-26 15:06] JackAdams commented on #16
@DanielDornhardt did that error message have EJSON somewhere in it?  My guess is the we're trying to send functions (those extra methods you added) from the client to the server via DDP and, of course, functions aren't a valid EJON type.

The reason they're not displaying in the json for updating documents is that the document gets thrown into `JSON.stringify(docCurrent, null, 2);` which just stri

[2015-02-26 16:11] JackAdams commented on #19
Okay, contrary to what I said earlier, I've just overridden validation to allow updates and inserts with simple schema and added that to the PR.  This means that it's going to be up to the dev to make sure they don't stuff up their own development database.

[2015-02-26 16:31] krawalli commented on #19
@JackAdams: Sorry, but that's a not completely correct answer.

In case of _only_ simple schema it should work, since there is no automatic validation on saving (update/insert) a record. It is Collections2 that causes an automatic validation.

And to be sure: it also requires the to be saved into collection to be member of collection2 and simple-schema.

However: it could be added a settings to ig

[2015-02-26 17:23] ssteinerx commented on #14
Will do, going back to that project momentarily.

[2015-02-26 21:26] #16 closed

[2015-02-26 21:26] #19 closed

[2015-02-26 21:26] #20 closed

[2015-02-26 21:39] #3 closed

[2015-02-26 21:41] msavin commented on #18
Fixed in latest PR - let me know if you're still experiencing the issue after updating.

[2015-02-26 21:41] #18 closed

[2015-02-26 21:47] msavin opened #23 "Issue inserting and updating documents with SimpleSchema"
Returns the following error when trying to insert or update documents:

I20150226-13:31:39.137(-8)? Exception while invoking method 'Mongol_insert' ReferenceError: SimpleSchema is not defined
I20150226-13:31:39.137(-8)?     at Meteor.methods.Mongol_insert (packages/msavin:mongol/server/methods.js:84)
I20150226-13:31:39.138(-8)?     at maybeAuditArgumentChecks (packages/ddp/livedata_server.js:1599)

[2015-02-26 22:17] krawalli commented on #23
yeah thats mine. See PR (and chat)

[2015-02-26 22:19] #23 closed

[2015-02-27 00:02] JackAdams commented on #19
@krawalli you are, of course, correct about collection2 and simple-schema working in concert on inserts and updates. (And about other validators -- but as long as they don't wrap the insert and update methods, like collection2 does, we're okay.)

Now, I didn't _write_ collection2, but had `if (typeof SimpleSchema !== 'undefined' && _.isFunction(MongolCollection.simpleSchema)) {` in the code, which

[2015-02-27 03:05] msavin commented on #19
Hey @JackAdams, great points. I think @krawalli did that here:
https://github.com/krawalli/Mongol/commit/90efe9d7d563943f7f9ab6103382dfff7e8b6780

[2015-02-27 03:07] JackAdams commented on #19
Yeah, but only for the update method, the insert method still needs to be fixed up.  If no-one else does it first, I'll put a PR together in a few hours time, after I've had time to read through @krawalli 's PR.

[2015-02-27 06:28] wallslide opened #28 "JSON circular structure error"
I get the following error when trying to use a collection of mine (Orders):
[code]
An instance of the Orders collection has an array in it like this:

[code]
I use a transform function which puts a reference to the Order itself in each of the lineItems in that array. I either need a way to prevent Mongol from using transformed-objects, or a way to delete that reference before Mongol attempts to us

[2015-02-27 08:47] krawalli commented on #19
@JackAdams:

I learned this by jslint and its error messages. Using typeof results in a String comparison, which may take somewhat longer than a direct comparison with type check aka triple =

AFAIK you should go for direct comparison whereever possible. In this special case it wont work: You are inside a function an the (non-existent) variable (SimpleSchema) does not exist. Using typeof this will

[2015-02-27 09:11] jakobrosenberg opened #30 "Mongol only shows account and users"
I have multiple active, working subscriptions, but Mongol doesn't show them. Am I doing something wrong?

[2015-02-27 09:19] msavin commented on #30
can you please send us a list of the packages you're using?

[2015-02-27 09:20] krawalli commented on #30
..and have a look here: https://github.com/msavin/MongoInspector/issues/17

Maybe the same problem

[2015-02-27 09:23] jakobrosenberg commented on #30
accounts-base@1.1.3
accounts-facebook@1.0.3
accounts-oauth@1.1.3
accounts-password@1.0.6
accounts-ui@1.1.4
accounts-ui-unstyled@1.1.6
amplify@1.0.0
application-configuration@1.0.4
autoupdate@1.1.5
base64@1.0.2
binary-heap@1.0.2
blaze@2.0.4
blaze-tools@1.0.2
boilerplate-generator@1.0.2
callback-hook@1.0.2
check@1.0.4
clinical:nightwatch@1.6.0
coffeescript@1.0.5
cramhead:cloudinary@0.9.3
daniel:buil

[2015-02-27 09:28] jakobrosenberg commented on #30
I had a look and tried the fix, but it did not work.

Also, of all my collections, the user collection is the only one I see. His/her problem was the exact opposite.

[2015-02-27 09:33] jakobrosenberg commented on #30
Finally fixed. I had to refresh the browser after moving mongol to the top of packages. It wasn't enough to let Meteor update the page dynamically after compiling.

Thanks for your help. :)

[2015-02-27 09:34] #30 closed

[2015-02-27 09:35] msavin commented on #30
Makes sense - the hot refresh must have preserved the collection list in the Session variable. Thanks for reporting it, good to know its still an issue. I'll submit this to @dburles and add a heads up to the readme

[2015-02-27 10:37] dburles opened #31 "drillDown function"
Just thought I'd mention, Meteor has an internal function in core that does exactly this, it's called `Meteor._get`. e.g. `Meteor._get(Meteor.user(), 'profile', 'name')`

[2015-02-27 12:48] JackAdams commented on #31
@dburles thanks for for that -- just learned something today.  Will refactor to use it.

[2015-02-27 12:56] JackAdams commented on #28
JSON.stringify is the way that Mongol represents the data in html (using `pre` tags).  I can't think of a way to automatically detect circular references in a transformed document and remove them (because that's certainly what you'd have to do to get it to work).  If you've got a lightweight function that can do that, I can work it into a PR.

[2015-02-27 13:08] krawalli commented on #28
Maybe you should replate JSON with EJSON. --> http://docs.meteor.com/#/full/ejson_stringify
Didn't test if they have integrated a test for that.

[2015-02-27 13:43] JackAdams commented on #28
Good thought, but I just tried it with EJSON.stringify and it still throws the error `InternalError: too much recursion`.

I couldn't see any EJSON methods that might help with this, just by typing `EJSON.` in the browser console and seeing what's there, but haven't researched it any further than that.

[2015-02-27 14:24] JackAdams commented on #19
Haha... nice on-the-fly fix @krawalli !

For the record, `SimpleSchema` is a global variable when it does exist, so using `typeof` to check for its existence totally works in this context. Just tested my original code again with `aldeed:collection2` added and removed and it gave the expected results (and I did have some good old `console.log()`s in there to make sure it was going through the right

[2015-02-27 15:41] krawalli commented on #28
to detect the cause you could iterate over the object with _.each and partitialy stringify the first level properties.

[2015-02-27 20:03] #31 closed

[2015-02-28 00:37] JackAdams commented on #28
Interesting discussion related to this happening in [one of Meteor's issues #3783](https://github.com/meteor/meteor/issues/3783).  Actually, no. Got the wrong issue. This discussion is related to #16, which is closed(ish).

[2015-02-28 01:02] wallslide commented on #28
I don't need the package to do it for me necessarily, I just need a hook somewhere that I could fix the problem myself before passing the object off to Mongol.

[2015-02-28 01:14] JackAdams commented on #28
Okay, cool. What sort of hook? How does `Mongol.beforeInsert = function () { ... }`, `Mongol.beforeUpdate = function () { ... }` sound?

[2015-02-28 02:13] wallslide commented on #28
In my particular case, I need a hook between when Mongol retrieves the object from the collection, and when displaying it in the UI. Maybe something similar to [AutoForm hooks](https://github.com/aldeed/meteor-autoform#callbackshooks) like:

[code]

[2015-02-28 02:23] JackAdams opened #34 "Can't export package variables with debug=true"
This is not a Mongol specific issue, but it has an effect on what I want to do to.

I'd like to be able to export `Mongol`, so that users can have a little API to modify Mongol's behaviour. e.g.

[code]

But whether we want to or not, we can't export `Mongol`, because in debug mode, the only thing that gets exported to the global scope is `Packages['msavin:Mongol'].Mongol` but not plain `Mongol`.

[2015-02-28 02:31] JackAdams commented on #28
Ah, yes. Sorry, I wasn't thinking clearly about the issue you described.  Got it now.  I'll take a look at how autoform does it and have a think about how we can implement this in Mongol.

[2015-02-28 08:56] Dsyko opened #35 "Doesn't seem to work with the Collection-Hooks package"
We are using the [collection-hooks package](https://atmospherejs.com/matb33/collection-hooks) and after adding Mongol the hooks are no longer defined on the collections.

[2015-02-28 09:05] Dsyko commented on #35
Actually, looks like I was on an older version (0.7.5) Upgrading to the newest collection-hooks seems to have fixed the issue :)

[2015-02-28 09:05] #35 closed

[2015-02-28 15:36] czbaker opened #36 "Mongol prevents Accounts-UI from working normally."
Not sure if this is actually a bug, but if you have Mongol visible/open, it prevents other Accounts-UI dialogs from working.

I had Mongol showing, tried to login/create a user in my app using the normal dialog on my app's navbar and it kept rejecting any attempts, citing 'invalid email'.  This apparently occurs when there are multiple instances of {{> loginButtons }} on one page, or something.

[2015-02-28 18:39] JackAdams commented on #36
`meteor update` -- the newest releases of Mongol don't have the extra `{{> loginButtons}}`.

[2015-03-01 00:20] msavin commented on #36
Assuming this will work. If not, let us know. Thanks for using Mongol!

[2015-03-01 00:20] #36 closed

[2015-03-01 04:15] msavin commented on #14
Assuming this worked fine. Let us know if you still have issues with it.

[2015-03-01 04:15] #14 closed

[2015-03-01 04:16] msavin commented on #12
Hey Schonne, can you confirm if you are having the issue after updating to the latest version?

[2015-03-01 04:18] msavin commented on #34
I'm in favor of just using the Session variable just because its fast, familiar and simple. You can just drop it anywhere without worrying about much. In the next SessonInspector, I will also be hiding any session variable that begins with Mongol_.

[2015-03-01 04:54] JackAdams commented on #34
Yep, that's do-able. It's just a little more challenging to expose an api where Mongol's users can call methods using Session (e.g. proposed solution to #28) -- but not impossible.

[2015-03-01 04:55] JackAdams commented on #35
Cool. Glad to hear that.

[2015-03-01 08:20] krawalli opened #37 "listing active subscription"
what about having also a list with active subscriptions?

[2015-03-01 08:32] msavin commented on #37
Have it ready- launching it at 1k downloads

[2015-03-01 08:34] krawalli commented on #37
you want me to write a download bot? :)

[2015-03-01 08:52] msavin commented on #37
Let's go low tech for this one. Shouting from roof tops will do :)

Sent from my iPhone

[2015-03-01 12:21] grigio commented on #37
+1 If you "lazy load" the subscriptions when a Template is created you need to type `Meteor.default_connection._subscriptions` to see what's going on :)

[2015-03-01 16:30] delay commented on #3
Works for me!  Thanks so much!  Also for anyone reading this and looking to get the server side meteor.users collection for testing purposes to show up in mongol. http://stackoverflow.com/questions/25198683/subscribing-to-meteor-users-collection

[2015-03-01 17:27] msavin commented on #37
Yeah that's the plan. I'm planning to use object.observe to see how it's changing as well. I'm wondering if I should use a polyfill or fallback to 3 second polling if the developers browser doesn't support it.

Sent from my iPhone

[2015-03-01 17:29] krawalli commented on #37
btw: _grats_ for being two times in row in atmospheres weekly top 10.

Go for number three!

[2015-03-01 17:37] msavin commented on #37
Hmm maybe you're right. I just feel it's too soon for a marketing push

Sent from my iPhone

[2015-03-01 17:38] grigio commented on #37
I think 3s polling is acceptable, so why is this closed?

[2015-03-01 18:04] GiraffeSlacks opened #39 "Getting erroneous error: "There was an error updating your document. Please review your changes and try again.""
Any changes I make give me this error but, despite the error, my changes are saved properly. I just installed so I should be on 0.5.4.

The error at the server is:

    I20150301-10:03:32.556(-8)? Exception while invoking method 'Mongol_update' Error: Did not check() all arguments during call to 'Mongol_update'
    I20150301-10:03:32.557(-8)?     at [object Object]._.extend.throwUnlessAllArguments

[2015-03-01 18:15] GiraffeSlacks commented on #39
Same for updating:

[code]

[2015-03-01 19:07] msavin commented on #39
It looks like there's a package that's causing the issue. Could you send a list of your packages?

[2015-03-01 19:08] msavin commented on #37
I wonder if we should build an Object.observe polyfill for Meteor.js, because SessionInspector will need this too. That way we don't have a bunch of things polling at the same time.

[2015-03-01 19:11] msavin commented on #37
Thanks @krawalli

Let's get the bugs out, then launch 1.0 with the subscription watcher!

[2015-03-01 19:15] GiraffeSlacks commented on #39
I'm using the Windows preview. `meteor update` has nothing to do.

[code]

[2015-03-01 19:21] msavin commented on #37
We can market it as a "make it reactive" package. Not every part of Meteor is reactive, and this can be used to tweak that as needed.

[2015-03-02 12:26] jlynch80 opened #40 "Issues with aldeed:simple-schema"
I get the error "TypeError: Object [object Object] has no method 'attachSchema'" attaching to Meteor.user while using aldeed:simple-schema and msavin:mongol together.

[2015-03-02 20:08] dbhandel opened #41 "Mongol doesn't see all the documents in all my collections."
For instance. I have two users and it own sees one. I have another collection that shows zero documents even thought it has documents which can be found using meteor mongo in the terminal.

I probably misunderstood the instructions after you upgraded to automatic recognition of collections. I set the Session.Mongol object to undefined to undo ny original Session settings. I have tried to remove an

[2015-03-03 02:45] JackAdams commented on #39
Yeah, it's `audit-argument-checks` doing it. I can write a fix for this in a day or two. Just a bit busy at work right now.

[2015-03-03 02:46] JackAdams commented on #40
Ah yes... namespaced collections.  That'll happen.  I'll give it some thought -- there should be a fix for it.

[2015-03-03 02:49] JackAdams commented on #41
You'll only see the documents that have been published to the client.  It a feature, not a bug ... really. :-)
If you want to see all documents in your db, you'll need to publish everything.  Mongol doesn't set up publications and subscriptions (by design) -- it means that as you browse around your app and subscriptions change, you can see how the content of your client side collections changes.

[2015-03-03 05:21] Schonne commented on #12
Installed latest version by removing MongoInspector and adding Mongol. The problem has resolved itself - I can inspect elements and see their styles now in Chrome. Consider this issue closed. ;)

[2015-03-03 07:42] msavin commented on #12
Awesome! Thanks for letting me know.

[2015-03-03 07:42] #12 closed

[2015-03-03 12:36] dbhandel commented on #41
Ahh! Makes sense. Thanks @JackAdams.

[2015-03-03 12:36] #41 closed

[2015-03-03 20:26] jindrichbartek commented on #3
Reading works now, and that is super. But when I'm trying to update current user doc or Account, it throws errors on server. edit: I found out, that although errors, updates working. Thanks!

[code]

[2015-03-03 23:49] JackAdams commented on #3
@jindrichbartek yes, this is #39. I'll be looking to get a fix ready in the next 24 hours or so.

[2015-03-04 10:54] JackAdams commented on #40
I haven't been able to reproduce this yet. Can I see a list of the packages you're using? If I can reproduce it, I'm pretty sure a fix will be possible.

[2015-03-04 11:00] #34 closed

[2015-03-05 04:49] jlynch80 commented on #40
here are the packages i am using (from https://github.com/Differential/meteor-boilerplate):

accounts-password
alanning:roles
aldeed:autoform
aldeed:collection2
anti:fake
cmather:handlebars-server
cunneen:mailgun
dburles:collection-helpers
dburles:factory
iron:router
less
matb33:collection-hooks
meteor-platform
mrt:moment
mrt:underscore-string-latest
reywood:publish-composite
useraccounts:bootstra

[2015-03-05 05:02] Schonne opened #42 "Session Inspector showing Mongol sessions"
I like your Session Inspector, but it shows the Mongol sessions in it.
![screen shot 2015-03-05 at 12 00 32 am](https://cloud.githubusercontent.com/assets/3167572/6499517/b84c4132-c2ca-11e4-9826-e4fab3d8a650.png)

Can we disable this or prevent Session Inspector from showing these? Better yet: wrap Session Inspector into Mongol!

[2015-03-05 06:53] JackAdams commented on #40
Thanks, Justin.  I'll see if I can identify the package that Mongol is fighting with later this evening.  Hopefully there will be a fix we can roll out soon.

[2015-03-05 14:36] JackAdams commented on #40
Good news.  I was able to reproduce and fix this.  PR #38 has the fix, which I hope will be included in the next release.  Thanks for sending that package list, Justin.  It made solving this issue a lot quicker.

[2015-03-05 15:43] JackAdams commented on #42
These are good ideas.  I believe that @msavin is very much on board with them.  Watch this space.  :-)

[2015-03-05 20:36] #39 closed

[2015-03-05 20:36] #40 closed

[2015-03-05 23:23] msavin commented on #42
Indeed - revamping SessionInspector is the next thing after Mongol hits 1.0.

[2015-03-06 02:06] yuomtheara opened #43 "problem with "Tabular table" on Meteor.users?"
I install `tabular table` package
[code]
But when install `mongol`, it is error on this.

[2015-03-06 02:09] msavin commented on #43
Thanks for sharing. What's the error?

[2015-03-06 03:20] GiraffeSlacks commented on #39
Great work @msavin.

[2015-03-06 04:24] JackAdams commented on #3
@jindrichbartek this is fixed in the latest release

[2015-03-06 20:51] jasonxeno opened #44 "Explicitly declare what collections you would like to see"
It seems in the newest version the ability to explicitly declare what collections you would like to see in Mongol was deprecated due to the new functionality in #9. The problem is that I found that feature useful as I have 40 collections and only wanted to keep track of the main 5 collections I have. Is it possible to add that feature back as an option?

[2015-03-06 20:54] msavin commented on #44
Sounds right, I'll bring it back

Sent from my iPhone

[2015-03-06 21:28] msavin commented on #44
Fixed, please update and let me know if you have any issues

[2015-03-06 21:28] #44 closed

[2015-03-07 12:52] ssteinerx opened #45 "CSS styles don't take "print" into account, Mongol window always prints"
A simple '@media print' section that set #Mongol to hidden should do the trick...

[2015-03-08 18:02] WilliamHua opened #47 "Search feature in Mongol"
Is it possible to have some kind of querying feature in Mongol so that if your database is thousands of documents large, you can still easily find what you're looking for?

[2015-03-08 20:25] msavin commented on #47
The thing is that Mongol is designed to work with MiniMongo (your client side documents). I guess its possible to do, but I don't think there's a use case where the client would by syncing 1000 documents to the client.

[2015-03-08 20:33] msavin commented on #45
But there could be a case where you'd want to print it (i.e. to compare JSON to results). Does it print even when its disabled?

[2015-03-09 02:38] WilliamHua commented on #47
Ah I see I completely forgot. I was thinking it would take the place of something like PHPMyAdmin for MySQL databases

[2015-03-09 02:38] #47 closed

[2015-03-09 13:41] ssteinerx commented on #45
No, it only prints when it's open.   No big deal, I'll just modify my own CSS if you think printing it might be useful to have it print which I hadn't considered (I'm printing forms, so I'd never need it to print).

[2015-03-09 13:41] #45 closed

[2015-03-09 17:28] alexiri opened #48 "Mongol doesn't play nicely with GroundDB"
Trying to add mongol to an app with GroundDB results in an error:

[code]

Perhaps I'm doing something wrong? Or should I open this bug with @GroundMeteor instead?

[2015-03-09 19:48] msavin commented on #48
I was able to install GroundDB and it's working fine. Can you list your other packages, and send a copy of app/lib/collections.js?

[2015-03-09 23:03] JackAdams commented on #48
Max, if @alexiri posts his `.packages` file, can you do the same with the `.packages` file from your app that works with grounddb.  I've got a suspicion about what's causing this and, if I'm right, there might be an easy fix.

[2015-03-09 23:05] msavin commented on #48
I just added it to Mongol repo to see if there's any explicit issue. So it's pretty barebones.

Sent from my iPhone

[2015-03-09 23:06] JackAdams commented on #48
Okay, that's easy.  I'll have a look at it later today.

[2015-03-10 03:46] JackAdams commented on #48
Yep. Was able to reproduce the issue, but I don't think there's an easy fix from the Mongol end.

However, an app developer can get the packages to work together one of two different ways:

**1.** make sure `ground:db` is **after** `msavin:mongol` in the `.packages` file

**OR**

**2.** Define the collections as regular `Mongo.Collection` rather than `Ground.Collection` then ground them using some

[2015-03-10 04:27] msavin commented on #48
That's fair - I think I'll just pop this into a "Compatibility" section of the documentation 

On Mar 09, 2015, at 08:46 PM, Brent Abrahams notifications@github.com wrote:

Yep. Was able to reproduce the issue, but I don't think there an easy fix from the Mongol end.
However, an app developer can get the packages to work together one of two different ways:
make sure ground:db is after msavin:mongo

[2015-03-10 09:21] alexiri commented on #48
I can confirm that placing `ground:db` after `msavin:mongol` worked. Thanks!

[2015-03-10 09:41] JackAdams commented on #48
Thanks for the independent confirmation, Alex. Glad to hear it's working.

[2015-03-10 16:50] richsilv commented on #43
I have the same problem (I assume):

[2015-03-10 16:52] richsilv commented on #43
To clarify, I'm using `aldeed:tabular` to show a table of users, passing in the `Meteor.users` collection.  it works perfectly without Mongol, but throws the error above on the server once it's added.  I've also tried passing in `Mongo.Collection.get('users')` instead, with no joy.

[2015-03-11 03:38] msavin commented on #43
Does it work if you use a collection other than users?

I've never worked with either of these, I think only @krawalii or @JackAdams  could fix it

[2015-03-11 03:40] JackAdams commented on #43
I'll take a look at it in a few hours' time.

[2015-03-11 09:03] ChenRoth opened #49 "Conflict with ongoworks:security package"
i've just added the mongol package, while having the security package in the project

the app crashes with this error:
[code]

this is caused when I'm trying to apply permissions to the Meteor users collection

any thoughts?

[2015-03-11 13:43] JackAdams commented on #43
I couldn't reproduce this one, but it's definitely to do with the auto-detection of collections where Mongol wraps the `Mongo.Collection` API.  Try putting `aldeed:tabular` before/after `msavin:mongol` in the `.packages` file and see if that makes a difference. Let us know if it does.

[2015-03-11 13:47] JackAdams commented on #49
I haven't reproduced this one yet, but then ... I haven't tried much more than adding the package and playing around with my `.packages` file.  From what you've said, I'm guessing I'd also need to try applying permissions to the Meteor users collection to reproduce the error.  I'm pretty sure this error is to do with the auto-detection of collections where Mongol wraps the `Mongo.Collection` API.

[2015-03-11 13:55] ChenRoth-old commented on #49
putting msavin:mongol before security causes this error:

[code]

where the referenced line is something along:

[code]

so this would be a simple reproduction to work with

[2015-03-11 18:29] msavin commented on #43
@JackAdams Should we wrap the collections on the client side only? and then the people who have issues there.. we can tell them to custom list their collections.

[2015-03-12 01:06] JackAdams commented on #49
Thanks @ChenRoth I'll take another look tonight, but this is a tricky one if it produces an error for both configurations of the packages (relative to each other) in the `.packages` files.

[2015-03-12 23:11] msavin commented on #48
Awesome. I added this to compatibility post.
https://github.com/msavin/Mongol/blob/master/COMPATIBILITY.md

PS: Make sure you run meteor update :)

[2015-03-12 23:11] #48 closed

[2015-03-12 23:12] msavin commented on #37
@krawalli "meteor update" :hamster:

[2015-03-12 23:12] #37 closed

[2015-03-12 23:13] msavin commented on #28
Assuming this is fixed. Please let us know if you still have issues.

PS: be sure to run "meteor update" :)

[2015-03-12 23:20] JackAdams commented on #28
No this one isn't fixed yet.

[2015-03-13 00:50] rclai opened #50 "Scrollbars?"
It looks really nice man.

Why do you have [this](https://github.com/msavin/Mongol/blob/4eb0df3775bf13e71dabcb7976513b46a9cc0e25/packages/msavin:mongol/client/style/Mongol.css#L24) set to `scroll`? Shouldn't it be `hidden`? I'm getting an empty scrollbar on the UI and I'm using Chrome (on a Ubuntu 14.04 machine).

[2015-03-13 00:52] msavin commented on #50
Some people have so many collections that it extends beyond the window. I'll try to hide the actual scrollbar.

Sent from my iPhone

[2015-03-13 01:03] rclai commented on #50
Oh I see. How about using one of those fancy scrollbar plugins, like [this one](https://github.com/malihu/malihu-custom-scrollbar-plugin). That would be hot.

[2015-03-13 01:50] thearabbit commented on #43
Now it work  fine, when I install `msavin:mongol` before `aldeed:tabular`.

[2015-03-13 01:57] yuomtheara opened #51 "Can't use "duplicate" option with custom _id?"
I insert doc with custom `_id` like this:
[code]
and then i insert the new one by `duplicate` btn, but can't it show error duplicating.

[2015-03-13 05:47] JackAdams commented on #51
I'll look into this soon.

[2015-03-13 06:08] JackAdams commented on #43
@yuomtheara this is really helpful information. Thanks!

[2015-03-13 08:40] Maxhodges commented on #28
This is affecting me too. Same problem as @wallslide. We have a parent-child relationship where the child has a reference to the parent.

Cheers!

[2015-03-13 14:51] rclai opened #52 "Create ability to add other tabs so we can build third-party packages to extend mongol"
For example, I want to be able to add my [ddp inspector](https://github.com/rclai/meteor-ddp-inspector) in a new tab on mongol to show all the ddp activity that happens.

And then you can create another third-party package (like the [other one you have](https://github.com/msavin/SessionInspector)) for another tab that shows all the Sessions.

Some other guy could build another package to give you

[2015-03-13 19:05] msavin commented on #52
I like that idea. Besides DDP inspection, what else would you like to see in Mongol? I'm thinking to just build in a DDP watcher into Mongol.

[2015-03-13 23:22] rclai commented on #52
I think that's a good start. Also, I think that being able to resize the panel would be nice. But essentially what I was getting at in the grand scheme of things is that there is a need to consolidate all dev tools in one place somehow, and I thought Mongol was a good place. It's messy having all these different dev packages all over the place, Slava's xray button at the top right, your session in

[2015-03-13 23:45] msavin commented on #52
Yeah we've had some packages that extend Mongol, so I've been thinking about it. You'll see some new stuff soon :)

[2015-03-14 00:56] JackAdams commented on #52
I agree that mongol is the best kind of interface I've seen to consolidate dev tools. We have talked about a plugin system, where each plugin gets its own tab on Mongol. @msavin -- I can start working on this in a couple of weeks' time.

[2015-03-15 13:38] sunkay opened #53 "Refused to load the image 'https://www.paypalobjects.com/en_US/i/scr/pixel.gif'"
I have browser-policy package and it gives me the following error. I would rather not add this to allow in my file... Is it possible to add this to the package assets?

Refused to load the image 'https://www.paypalobjects.com/en_US/i/scr/pixel.gif' because it violates the following Content Security Policy directive: "img-src data: ...

[2015-03-15 13:48] sunkay opened #54 "Get an Exception - Cannot read property 'find' of undefined"
Here is my mongol config... I dont know why it is getting undefined.

if (Meteor.isClient) {
	Session.set("Mongol", {
		'collections': ['Posts'],
		'display': true,
		'opacity_normal': ".7",
		'opacity_expand': ".9",
		'disable_warning': "false"
	});
}

1.0.2  March 13th, 2015      installed

TypeError: Cannot read property 'find' of undefined
    at null.<anonymous> (http://localhost:3000/package

[2015-03-15 23:01] arvi commented on #54
Hi @sunkay @msavin. I'm having the same problem. It used to work until I ran meteor update last night. I can't get it to work despite attempts to downgrade versions by manually editing .meteor/versions file.

[code]

Upon checking my git changes in versions file, there were various modified/added related to mongol. I can't tell where the problem on dependencies/dependants package is.

[code]

**Is

[2015-03-15 23:12] arvi commented on #54
Hi @sunkay @msavin. Finally! Got it working after being pointed to COMPATIBILITY.md while reading Additional Information section on the README.md. :)

[code]

I didn't notice it immediately since I headed straight to CHANGELOG.md after noticing git changes on mongol version. Wew!

[2015-03-16 00:05] sunkay commented on #54
perfect @arvi.. that's it. Thanks.

On Sun, Mar 15, 2015 at 7:12 PM arvi notifications@github.com wrote:

[2015-03-16 00:06] #54 closed

[2015-03-16 12:41] richsilv commented on #43
Apologies for the delay, I can confirm that putting mongol before tabular in the package load order resovles this for me. Thanks.

[2015-03-16 14:20] bensmeets commented on #53
+1 :)

[2015-03-16 15:31] rasschaert commented on #53
The uBlock plugin in Chrome also blocks the PayPal tracking pixel.

The console logs `GET https://www.paypalobjects.com/en_US/i/scr/pixel.gif net::ERR_BLOCKED_BY_CLIENT`  every time I open Mongol.

Please remove it :+1:

[2015-03-16 17:08] outluch opened #55 ""This application contains Mongol" is annoying"
Thanks for awesome tool, but is it so nessesary to log this??
I like clean console and want see there errors only, or my debug info. Maybe some parameter in with Session would turn this off?

[2015-03-17 02:55] msavin commented on #55
I've heard that one before. My goal is to educate just so people don't deploy it to production.  But maybe better to leave that responsibility to main developer.

[2015-03-17 02:56] msavin commented on #53
Ok I'll drop the pixel next version

[2015-03-17 03:03] rhyslbw commented on #55
:+1:

I was going to suggest using `debugOnly: true` in the package description, but it's already there. What am I missing?

[2015-03-17 03:05] msavin commented on #55
The two issues are people deploying in debug, or not knowing what debugOnly is.

[2015-03-17 04:54] rhyslbw commented on #55
In that case I'd just remove the warning, as you have a control in place :smile:

[2015-03-17 10:49] outluch commented on #55
My 2 arguements here: When you deploy with `-debug` you know what you do, because it is not default, you need to use parameter. And if some other developer decides to educate me too, he will steal just another line from my console. Vertical space is quite expensive.
Some option like `'Mongol_settings_logging_off'` needed imho.

[2015-03-17 16:48] msavin commented on #55
Agree with you on vertical space; that's why I built Mongol in the first place. That console bar just eats away too much space. I think the best way to move forward is to just include details about this in the documentation.

[2015-03-18 09:18] JackAdams commented on #43
Thanks for confirming that, @richsilv.  That's good to know.

[2015-03-18 17:38] msavin commented on #43
:+1:

[2015-03-18 17:38] #43 closed

[2015-03-19 02:54] mplatts opened #56 "Can't copy the _id"
Kind of a minor thing - I like to copy and paste the `_id` of things - it seems after I updated I can't do this any more (have to click "Update" then I can copy it)

(Great package btw)

[2015-03-19 04:42] MichelFloyd opened #57 "mongol fails to load due to incompatibility with u2622:persistent-session"
Uncaught ReferenceError: EJSON is not defined reporters.js?1426735142249:67

Not sure who gets the blame here but I'm going to guess gwendall:session-json might be involved since it's a related package that's installed by mongol.

Found this during Max's presentation at tonight's South Bay Meteor meetup.

[2015-03-19 16:35] JS9 opened #58 "Windows 7(64bit) Chrome Browser Meteor windows (official version)"
I am new to the whole environment - so I may be missing something obvious.
I get the message this app contains Mongol - however the app is not visible on screen.
Control + M does not work.
If I enter command to display mongol, it pops up on screen and says a collection not available. If this an error - report it on git hub.
So here is the report.
Let me know if you need more info.

Thanks in advan

[2015-03-19 17:16] krawalli commented on #58
Please have a look at the package loading order.

Look into the .meteor/packages file.

Move the mongol entry to the top (e.g. line 2 or 3) and try again.

If mongol is added later on, its run to late to get notified on collection creation

[2015-03-19 17:33] msavin commented on #58
@krawalli has anyone thought to just re-run the collection creation?

[2015-03-19 17:41] krawalli commented on #58
yeah, but that's impossible. Its not the creation, its the javascript command to have a variable to represent collection XY.

Like:

[code]

With a collection hook on init (but must be implemented by MDG) that problem should be solved.

Another way would be to simply iterate over existing Collection instances on mongol init. Doing something like:

[code]

AFAIK there is nothing like that list inst

[2015-03-19 22:33] JS9 commented on #58
Krawalli - Thank you - your suggestion worked. Here is the packages file.
Before when it wasn't working msavvvin:mongol was the last line - when I moved it after the meteor-platform - it started work. Thanks again for your quick help.

meteor-platform
msavin:mongol
autopublish
insecure

[2015-03-19 22:35] JS9 commented on #58
As my particular issue is fixed - I will close the thread.

[2015-03-19 22:35] #58 closed

[2015-03-19 22:41] dandv opened #59 "Configure your GitHub username :)"
[Most recent commits](https://github.com/msavin/Mongol/commits/master) appear to come from "Main".

    git config --global user.name "Max Savin"
    git config --global user.email "msavin@me.com"
    git config --global github.user msavin

PS: nice seeing you at the Meteor meetups lately. Have you moved to the Bay Area? https://github.com/msavin and https://www.linkedin.com/in/msavin say "New Yor

[2015-03-19 22:43] msavin commented on #59
Haha thanks man.

I'm just checking it out - heading back to New York tomorrow. Feels like I've seen around New York before.

[2015-03-19 22:46] msavin commented on #58
Glad you got it working! Thanks @krawalli

[2015-03-20 23:46] JackAdams commented on #56
Whoa... you're right.  This is my fault.  I'll fix it in the next day or two.

[2015-03-21 19:04] msavin commented on #56
@JackAdams I semi-took care of it with a new PR. The _id field cannot be edited as indicated by the cursor, but we should let people select ID. Maybe if they try to edit it, we can throw an alert "hey .. no, stop it!"

[2015-03-23 01:02] yuomtheara opened #60 "Backup/Restore Tool request?"
Backup/Restore Tool request?

[2015-03-23 01:03] msavin commented on #60
For when you delete documents?

Sent from my iPhone

[2015-03-23 06:30] krawalli commented on #60
maybe better one would be json import / export.

Nice idea

[2015-03-23 06:59] JackAdams commented on #60
Work is starting on a undo/redo system soon.  But that's not what you mean, is it?  You're thinking about backing up and restoring the db.

[2015-03-23 09:17] JackAdams commented on #57
I think the problem is with u2622:persistent-session.  It [overwrites](https://github.com/okgrow/meteor-persistent-session/blob/master/lib/persistent_session.js) the `Session` functions, whereas gwendall:meteor-session-json just [updates](https://github.com/gwendall/meteor-session-json/blob/master/export.js) the `ReactiveVar` prototype.

However, this is the [most recent commit](https://github.com

[2015-03-23 10:53] krawalli commented on #57
"EJSON is not defined"

you need to api.use('ejson') in the package.js

[2015-03-23 11:32] arvi commented on #57
I'm experiencing this too after adding _u2622:persistent-session_ package

`No collections found. If you think this is an error, please report it on Github.`

It's when I log-in to my app and CTRL+M, this would appear. However, if I did browser refresh at every page I navigate to, CTRL+M will list my subscriptions as expected.

Maybe this would be my workaround for now while this issue is still no

[2015-03-23 12:34] JackAdams commented on #57
@krawalli -- is that in the `editable-json` `package.js` file?

[2015-03-23 15:52] JackAdams commented on #56
PR #61 fixes this issue

[2015-03-23 16:06] msavin commented on #60
I'm thinking a trash can may be better as its persistent.

ie:
1. User deletes document
2. Document is removed from its collection and inserted to Mongol_Trash collection, with original collection name and remove date
3. User is able to "restore" recent documents from a Trash tab in Mongol

[2015-03-23 16:20] JackAdams commented on #60
Yep.  I see the value in that -- having deleted documents persist in more than just a session variable.  It's just, I'm not sure that devs will appreciate a new collection in their db.  Another possibility is to use the `persistent-session` package.

[2015-03-23 16:28] msavin commented on #60
We should find out. No reason why we can't implement a trash can in sessions and offer persistent option, or have it as an optional package.

PS: I'm considering this from a UI/UX perspective as well as technical.

Sent from my iPhone

[2015-03-23 16:41] JackAdams commented on #51
Is this still happening?  I was unable to replicate this issue.

[2015-03-23 16:42] #59 closed

[2015-03-23 16:44] msavin commented on #56
Closing this issue. @mplatts please update and let us know if the issue continues

[2015-03-23 17:38] dcsan opened #62 "doesnt work with collections from packages?"
tried this out - it only seems to pick up collections defined in the main app, nothing from packages.

is there a way to specify what collections to monitor?

[2015-03-23 18:36] msavin commented on #62
My man! How are things in SF?

What packages are you using?

Listing collections manually may be the right solution for you: https://github.com/msavin/Mongol/blob/master/documentation/COMPATIBILITY.md

[2015-03-23 21:21] remcoder opened #63 "Idea: See all publications and subscribe on them by clicking on one"
Forgetting to the subscribe to published data (or the other way around) is an easy mistake to make. It would be nice if Mongol could show us a list of publications and allows us to subscribe to them as easy as clicking on them.

Here're some things that might be good place to start:

On the server there is a list of publications, here:

    Meteor.server.publish_handlers

example:

    {
    meteo

[2015-03-24 01:05] thearabbit commented on #60
Ok, I mean export/import data.

[2015-03-24 01:11] msavin commented on #60
@yuomtheara you need to give us better descriptions of your idea :P

[2015-03-24 01:17] mplatts commented on #56
@JackAdams @msavin  it's kind of fixed. I click the _id value and it becomes highlighted. But if I hit `cmd-c` to copy it doesn't copy. Right clicking and clicking "Copy" works... but yeah... `cmd-c` is the way I'd like to copy.

[2015-03-24 01:20] JackAdams commented on #56
Oh shoot... yes, that's my bad again.  I'll fix this soon.

[2015-03-24 01:21] mplatts commented on #56
:+1: no rush ha

[2015-03-24 01:47] JackAdams commented on #56
All right, just released `editable-json` 0.3.13.  That should fix it @msavin.

[2015-03-24 04:59] thearabbit commented on #60
I would like to export/import db like other IDE of sql (PhpMyAdmin, Navicate ...)

[2015-03-24 06:16] dcsan commented on #62
yo, word. fixed by ordering. you should call it a1mongol :)

[2015-03-24 06:19] #62 closed

[2015-03-25 09:12] maggo commented on #50
If you set this to `overflow: auto;` it will display scrollbars only when content is actually overflowing

[2015-03-25 17:27] #55 closed

[2015-03-25 17:27] msavin commented on #53
Gone

[2015-03-25 17:27] #53 closed

[2015-03-25 17:28] msavin commented on #42
Fixed , meteor update ftw :)

[2015-03-25 17:28] #42 closed

[2015-03-26 00:56] ljmatkins opened #64 "Need a way to disable the "This application contains Meteor Toys. Learn more: http://meteor.toys" message."
I appreciate the desire to introduce people to meteor.toys -- but now that I've visited the site, I would like to disable the console message so I don't see it whenever my app starts. An explicit configuration parameter or something would be helpful. As it is, I'm not really (yet) using Mongol for much, and seeing this message over and over makes it more likely that I'll just remove the package.

[2015-03-26 14:44] sircharleswatson opened #65 "Mongol_verify method concern"
I was just looking at some of the source and noticed this:
https://github.com/msavin/Mongol/blob/master/server/methods.js#L10

I'm wondering if it was intentional that the "if" statement has a variable being set in it. It seems as though that should not be the case. Otherwise, it would always be passing rather than actually checking the equality.

[2015-03-26 15:51] msavin commented on #65
Ah good point. It's actually not using that method. Maybe it's worth adding though.

[2015-03-26 18:26] sircharleswatson commented on #65
oh! I didn't know it wasnt using the method. I was just browsing and saw that it looked odd. :)

I just installed Mongol and JetSetter today and I'm really liking them. Keep up the great work! Bring on the toys!

[2015-03-27 06:35] krawalli commented on #57
@JackAdams - its the message from the issue reporter in line 1 - Maybe its from your package.

[2015-03-27 06:54] JackAdams commented on #57
Anyone got a minimal reproduction for this?  I couldn't reproduce it.

[2015-03-27 20:08] SenerDemiral opened #66 "Can't duplicate document if one field is Unique Key"

[2015-03-27 22:32] krawalli commented on #51
I think you need to add it at least two times

[2015-03-27 22:39] msavin commented on #51
and shake your computer left to right while you do it :P

[2015-03-27 22:41] krawalli commented on #51
see issue #66 - almost the same cause i guess

[2015-03-28 00:34] JackAdams commented on #66
What's an example of a document that can't be duplicated?

[2015-03-28 00:53] almogdesign opened #67 "Uncaught TypeError: Cannot read property 'find' of undefined"
I'm getting the following error message after installing

 Uncaught TypeError: Cannot read property 'find' of undefined editable-json-client.js:143

[2015-03-28 00:54] almogdesign opened #68 "Mongol not working with Meteor Message Format Package"
If I install Mongol I can no longer change my local language which is using Meteor Message Format Package

[2015-03-28 01:01] isAlmogK commented on #68
Never mind mistake on my end

[2015-03-28 01:01] #68 closed

[2015-03-28 01:02] JackAdams commented on #51
I'm not actually clear what the issue is here, because the duplicate button works perfectly well with any `_id`, custom or not.  At least, when I've tested it, it does.

[2015-03-28 01:37] tehfailsafe commented on #64
:+1:

This is really uncool. Littering ever single console for the people who already installed your plugin is unacceptable. This kind of pushyness makes me want to UNjoin the community you are trying to foster.

[2015-03-28 01:47] msavin commented on #64
Point taken - just run update and it'll be gone.

The goal was to educate on Meteor Toys - just in case other team members aren't aware or someone else inherits a code base. The community part there came after. But I'll leave the responsibility up to the developers in charge.

PS: Once you join, you can't unjoin .

[2015-03-28 01:51] tehfailsafe commented on #64
I wouldn't be against something like Kadira's message on meteor startup in the terminal, if other team members aren't aware and run `meteor` they will see it once on startup and that would be it.

I just worked through a bunch or errors in the console and came across this message for the first time after I finally cleared them. Then refreshed a few times and realized it was going to stay there...

[2015-03-28 13:22] JackAdams commented on #67
Any chance you can put up a minimal repro?  I should be able to fix this if I know what I'm looking for.

[2015-03-28 17:09] msavin commented on #64
Good thinking, thanks for the suggestion

[2015-03-28 17:09] #64 closed

[2015-03-29 05:23] arthax0r opened #69 "Collections of Tweets Show Create/Insert Tabs & No Data"
There is a paste of an example tweet object @: http://paste.meteor.com/mq7o3wQCZBaYZnK6f
Screenshot attached.
![Uploading 2015-03-29-012149_1920x1080_scrot.png . . .]()

Thanks for the killer package!

Linux version: Mozilla Firefox 36.0.4

[2015-03-29 18:15] #65 closed

[2015-03-29 18:21] msavin commented on #60
This sounds like a different tool than Mongol, and I'm definitely considering it. Thanks!

[2015-03-29 18:22] #60 closed

[2015-03-29 18:28] msavin commented on #50
Good point - I just pushed it and it'll be in the next update tomorrow.

[2015-03-29 18:28] #50 closed

[2015-03-29 18:32] #52 closed

[2015-03-29 18:37] msavin commented on #51
@yuomtheara can you give some more details about this issue? Otherwise I'll have to close the issue as what you're describing doesn't seem to be a problem

[2015-03-29 18:39] rclai commented on #52
So..  What happened here?

[2015-03-29 23:52] JackAdams commented on #52
@msavin are you still open to the idea of a plugin system?

[2015-03-30 00:03] msavin commented on #52
I'm trying out different designs / concepts - going to announce my solution in a couple of weeks

[2015-03-30 00:08] rclai commented on #52
Okie doaks.

[2015-03-31 08:32] isAlmogK commented on #67
I'm not sure a minimal repro will recreate the issue I think it's a conflict within my app / packages that I'm using

[2015-03-31 08:44] JackAdams commented on #69
Any repro available for this?  @msavin -- I don't think it's the `editable-json` package (see [here](http://meteorpad.com/pad/AphADo6eR4aiJmNzS/Editable%20JSON%20Example)).

[2015-03-31 08:53] JackAdams commented on #57
@msavin -- again, I'm pretty sure it's not the editable-json package that's causing this. It's possibly a conflict between the `u2622:persistent-session` and `gwendall:meteor-session-json` packages (the editable-json depends on the second package).  There's probably another package involved though, as I have both the above packages in a test app and no issues.

[2015-03-31 09:05] JackAdams commented on #67
I've just committed a possible fix/workaround for this (or at least what I think is causing this). Will hopefully make it into the next release.

[2015-03-31 09:08] isAlmogK commented on #67
Ok let me know when it's out I will test it

[2015-03-31 09:09] JackAdams commented on #66
Oh, I see what you mean.  We're talking about mongo unique indexes here, right?  Well, no -- obviously you can't duplicate a document if you have a unique index on one of the fields.  Not sure that's an issue with this package per se.

[2015-03-31 09:14] JackAdams commented on #56
This is fixed in the latest releases of the `editable-json` package.  Just needs merging.  :-)

[2015-03-31 09:17] JackAdams commented on #67
That's up to @msavin.  Fair warning though, the fix should allow Mongol to run, but expect some weird behaviour.  I really need to know a bit more about the packages you are using to try and figure out the root cause. (A copy of the `.meteor/packages.js` file from your app would be great for this.)

[2015-03-31 09:20] isAlmogK commented on #67
No problem

meteor-platform
accounts-password
iron:router
jquery
appcache
alanning:roles
audit-argument-checks
multiply:iron-router-progress
underscore

natestrauser:select2
tsega:bootstrap3-datetimepicker
momentjs:moment
ground:db
joshowens:accounts-entry
twbs:bootstrap
harrison:papa-parse
matteodem:easy-search
ongoworks:pdf
underscorestring:underscore.string
matb33:collection-hooks
wylio:mandril

[2015-04-04 06:11] ndemoreau opened #72 "Exception Cannot read property 'name' of undefined"
I get this exception when using mongol

Error: Exception in template helper:
TypeError: Cannot read property 'name' of undefined
    at String.Template.Mongol_subscriptions.helpers.name (http://localhost:3000/packages/msavin_mongol.js?0f0b3219b97fc5937aa7b1d9dc619fcb21cbfb25:821:65)
    at bindDataContext (http://localhost:3000/packages/blaze.js?a5c324925e5f6e800a4c618d71caf2848b53bf51:2880:16)

[2015-04-09 05:29] mastastealth opened #73 "Local-only Collection Support?"
If I define a collection like so:
```local = new Mongo.Collection(null);```

Mongol doesn't seem to grab it. Is there anyway to see this besides using the console?

[2015-04-09 05:58] JackAdams commented on #73
Mongol won't find it by default, but you should be able to tell Mongol to look for it using the api here: https://github.com/msavin/Mongol/blob/master/documentation/COMPATIBILITY.md
The docs suggest not using variable names, but try it anyway.  I've got a feeling it might work:

[code]

I'll be interested to hear the results.

[2015-04-09 06:03] mastastealth commented on #73
@JackAdams Ok, running that does add it to the list, and it seems to receive the correct _count_ of items, however moving through the items continually spits out "Cannot read proper 'find' of undefined" with no data in the documents.

[2015-04-09 06:12] JackAdams commented on #72
I think #70 fixes this, if I remember right.  Waiting for the next release.

[2015-04-09 06:24] JackAdams commented on #73
Hmm... yeah, I think I know why.  This problem is fixable, but at the moment, it's something Mongol doesn't support. @msavin -- want me to work on a fix?

[2015-04-09 17:39] msavin commented on #72
Thanks @JackAdams  - I did a mini-merge.

@ndemoreau please update and let us know if it helped

[2015-04-09 17:40] msavin commented on #73
@JackAdams Not yet - lets wait for Meteor Toys

[2015-04-10 05:00] ndemoreau commented on #72
It seems to be ok.

Thanks a lot!

[2015-04-10 05:10] ndemoreau commented on #72
Did the update but the issue is still there:

Error: Exception in template helper:
TypeError: Cannot read property 'name' of undefined
    at String.Template.Mongol_subscriptions.helpers.name (http://localhost:3000/packages/msavin_mongol.js?4f1f13be1ff9f679c6b29914e231ccc574fa14ad:827:65)
    at bindDataContext (http://localhost:3000/packages/blaze.js?a5c324925e5f6e800a4c618d71caf2848b53bf51:2880:

[2015-04-10 05:49] JackAdams commented on #72
@msavin -- I guess the bulletproof fix is to change:

[code]

to:

[code]

and do the same thing in the next line of code.

[2015-04-10 06:38] ndemoreau commented on #72
Just in case...

The problem happens when Mongol is open and the server refreshes

[2015-04-10 08:17] JackAdams commented on #72
Hmm... just looking at that error log...  Are you sure the update happened?  I can't see how that error is getting thrown with the latest version.  In your `.meteor/versions` file, is there a line that says: `msavin:mongol@1.0.20`?

[2015-04-10 17:23] nunohvidal opened #74 "Exception in console when opening Mongol"
Everytime I press Ctrl+M to display Mongol, the following error is displayed in my console.

This happens even in new projects (meteor create project)
[code]

[2015-04-10 17:44] below9k commented on #74
I'm also receiving this error. It kills the page on refresh with:
`Uncaught Error: No such template: MeteorToys_accounts`

I was assuming it was due to using meteor-angular in my current project and they weren't playing nice. Perhaps it's just a dependency issue.

[2015-04-11 16:18] ryanbuiltthat opened #75 "No such template error in console"
When invoking mongol on my app I get the following error in the console...

    Error: No such template: MeteorToys_accounts
        at Blaze.View.lookup (lookup.js:122)
        at null.<anonymous> (spacebars-runtime.js:30)
        at view.js:191
        at Function.Template._withTemplateInstanceFunc (template.js:437)
        at view.js:190
        at Object.Blaze._withCurrentView (view.js:523)

[2015-04-12 15:42] abernix commented on #75
Duplicate of #74, but also happening to me.

[2015-04-12 15:43] abernix commented on #74
Also happening to me.

[2015-04-12 21:49] msavin commented on #74
Fixed in the latest push. Thanks for reporting.

[2015-04-12 21:49] #74 closed

[2015-04-14 04:50] ndemoreau commented on #72
Nope. It upgraded to 1.0.12 (or didn't upgrade, I don't know). I re-did an upgrade and I am now running 1.0.22 and all is fine.

Thank you!

[2015-04-14 04:50] #72 closed

[2015-04-14 08:35] JackAdams commented on #72
Glad to hear it's resolved.  This all makes sense -- 1.0.12 didn't have the fix included.

[2015-04-17 11:03] Maxhodges commented on #55
I actually want to deploy it to an app which we are going to demo, but can't just host locally for important reasons. is there an easy way to deploy it? present it seems like it's being auto-removed

cheers!

[2015-04-17 14:40] msavin commented on #55
Try deploying or building with "--debug", it will build the app on the same way it runs locally

[2015-04-17 16:32] smmoosavi opened #77 "Error when using transform"
When I set `transform` option in collection, following error thrown.
[code]

You can pass `{transform: null}` to `find` or `findOne` functions to override transform and show pure data. [see doc](http://docs.meteor.com/#/full/find)

[code]

[2015-04-17 22:04] msavin commented on #77
That's a great tip - thanks. I'll be sure to work it into the next release.

[2015-04-18 05:39] KrishnaPG opened #78 "How to disable/enable this ?"
Not sure if this option is already available, but couldn't deduce it from Readme doc.

Presently pressing Ctrl+M shows this console.

Is there some kind of switch or global variable in the code that would disable/enable this? I would like to turn this on only for my local runs and off other times.

[2015-04-18 05:40] msavin commented on #78
Thanks for letting me know.

What kind of console does it show? Also - what is your OS / Browser?

[2015-04-18 06:51] KrishnaPG commented on #78
Well - "console" may be a wrong word, I meant to say the UI as shown below (what ever it is called). Would like to programatically enable/disable the display of this at runtime (e.g. only making this appear to Admin users and not for all users when pressed Ctrl+M)

![image](https://cloud.githubusercontent.com/assets/4610831/7214338/3d4222e0-e5c5-11e4-80c1-24c693bd7252.png)

[2015-04-19 06:18] JackAdams commented on #78
Mongol doesn't get included in production builds.  It is only available in your app while you're developing on localhost.

[2015-04-19 06:56] KrishnaPG commented on #78
Ok - cool. Thanks for sharing this good work with the world. It is helpful.

[2015-04-19 06:56] #78 closed

[2015-04-21 02:52] dpatte opened #79 "Adding new array to doc using update corrupts a date"
My docs have two date fields, Submitted and Updated. If I use mongol and update a doc adding the following:
"test": ["Line1","Line 2","Line 3"],
and save, the first date is corrupted.
Viewing in Mongol, dates seem to be displayed with an extra space at the end, but after updating, the first date no longer has the extra space and is corrupted when read.

[2015-04-22 21:20] ramstein74 opened #80 "does not get validated by package aldeed:collection2 why?"
hello the mongol should not be able so save a record out of the schema specs defined with the package

aldeed:collection2

why is that?
i dont know if this issue should be posted here or in the

aldeed:collection2

Regards

[2015-04-23 01:04] msavin commented on #80
Thanks for submitting the issue. Mongol is compatible with collection2. Did you have an issue with it?

Sent from my iPhone

[2015-04-23 01:09] dpatte commented on #79
Is it possible that when doing an update using mongol, that the date in a doc is being converted from a Date type to a string type?

[2015-04-23 02:35] msavin commented on #79
Yes, looping in @JackAdams since he manages the editable JSON package

[2015-04-23 06:18] JackAdams commented on #80
While Mongol is compatible with collection2 in the sense that they don't cause each other to throw errors, the Mongol code deliberately sidesteps the collection2 validation. This is a design choice to give Mongol maximum control over the database while testing things out from the client side.

I guess a way moving forward would be to have a configuration option that makes Mongol respect the schema

[2015-04-23 13:55] JackAdams commented on #79
Yes -- it's very possible that dates are being converted to strings, but it sounds like the "update-save" workflow is being used here, not the editable-json.  Still, it's entirely possible that the editable-json is involved in the problem.  I need to give date fields some more attention anyway, so I'll run some tests when I do that.

[2015-04-23 15:41] JackAdams commented on #79
Just had a look at the editable-json code -- I think that's what's causing the problem.  I'll work on a fix soon.

[2015-04-23 15:55] dpatte commented on #79
Thanks!

[2015-04-23 23:51] mastastealth opened #81 "Refresh on deletions"
When I have a collection of 10 items, and have the 10th item selected (10/10), if I run some code to remove, for example, 8 items, the tool shows 10/2, and I have to go backwards through all the non-existing items to get back to the last item (now 2/2).

It'd be nice if it could automatically adjust to the last item when something like this happens.

[2015-04-24 02:32] msavin commented on #77
Just pushed the change. Mongol 1.1 coming on Monday with the addition.

[2015-04-24 03:33] msavin commented on #81
Thanks for the suggestion. It's implemented, along with 'looping' for arrow controls. Coming in Mongol 1.1 next week

[2015-04-24 03:47] msavin commented on #28
Should be fixed in the upcoming version. More information: https://github.com/msavin/Mongol/issues/77

[2015-04-24 03:49] #51 closed

[2015-04-24 03:50] msavin commented on #69
@arthax0r can you please update us on this issue?

[2015-04-24 03:58] dpatte commented on #81
thx as well - noticed the same thing.

I love the community here! I 'discovered' meteor about 8 weeks ago, and have jumped in with both feet. I'm in the midst of converting a complete SaaS Drupal product into a Meteor product, and what took me 6 months to do before has been redone in only 6 weeks - not bad since I am learning as I am doing. My thanks go out to the community, the package developers

[2015-04-24 04:44] smmoosavi opened #82 "YAML support"
Can you support yaml. Yaml is more human readable and less `"` make it easy to write. Every json string is yaml and converting between them is easy.
[js-yaml](https://github.com/nodeca/js-yaml) can help you.

[code]

Is equeal:

[code]

[2015-04-24 05:01] #66 closed

[2015-04-24 05:02] msavin commented on #82
Hmm - I do not think we'll be supporting this anytime soon. Hope you are not disappointed. Going to close this issue for now.

[2015-04-24 05:02] #82 closed

[2015-04-24 05:02] msavin commented on #75
Fixed and verified in new update

[2015-04-24 05:02] #75 closed

[2015-04-24 05:05] msavin commented on #80
Since it has the same effect as an external DB editor, I think this is a fine behavior. Closing issue.

[2015-04-24 05:05] #80 closed

[2015-04-24 07:03] rabbittc commented on #51
if my `_id` field is the custom value ("001"), don't auto value (object id).
So i can't use `duplicate` option.

[2015-04-24 11:04] JackAdams commented on #51
@rabbittc I just tried duplicating a document with an _id value of "001" and it worked fine.  Any chance of putting a minimal repro of your issue on Meteorpad?

[2015-04-24 19:40] msavin commented on #69
@arthax0r Can you please try running ' Session.set('Mongol_noInlineEditing', true);  ' in the console before opening Mongol? This should disable the Inline JSON editing and may get us closer to the solution.

[2015-04-25 00:54] rabbittc commented on #51
Ok I will try again.

[2015-04-25 03:50] msavin commented on #77
@smmoosavi let me know if its working :)

[2015-04-25 03:50] msavin commented on #28
@Maxhodges @wallslide please update and let me know if it worked :)

[2015-04-25 03:51] msavin commented on #63
This is coming in the Meteor Toy, so I'll close the issue. Thanks for your suggestion!

[2015-04-25 03:51] #63 closed

[2015-04-25 03:52] msavin commented on #81
Folks, please update and me let know how its working

cc: @mastastealth

@dpatte it's good :smile:

[2015-04-25 19:13] smmoosavi commented on #77
In _package.js_ `"client/Mongol.js"` must be `"client/mongol.js"` or file renamed to Mongol.js

When I push duplicate btn, transformed object duplicated. I hope you need update [this](https://github.com/msavin/Mongol/blob/9082d72b84ed05c52356f191e1f69ec1557ea6fd/server/methods.js#L100) line

probably you must update all `findOne` and `find` functions.

[2015-04-25 20:00] msavin commented on #77
SourceTree isn't picking up on the formatting difference.. looking into it. But it sounds like the package works regardless?

I just passed transform: null into every query we have, let me know how its working. It's Mongol 1.0.25

[2015-04-26 03:03] smmoosavi commented on #77
As I see, every things related to this issue is OK. :D

[2015-04-26 03:05] #77 closed

[2015-04-26 03:05] smmoosavi commented on #77
`MeteorToysData_*` collections exist in mongol output, is it ok? and will be in next release?

[2015-04-26 03:05] msavin commented on #77
Awesome! To confirm - you're viewing raw docs and are able to edit them?

Sent from my iPhone

[2015-04-26 03:08] smmoosavi commented on #77
Yes.

[2015-04-26 03:09] smmoosavi commented on #77
With autopublish and insecure.

[2015-04-26 06:44] msavin commented on #77
:+1:

[2015-04-26 07:00] #81 closed

[2015-04-26 07:01] msavin commented on #79
@JackAdams how far away would a fix be? (I think the solution is to treat dates as a string.) The reason I ask is I'm getting ready to ship Mongol 1.1.0 soon and would like to have this fixed for the update.

[2015-04-26 07:03] #56 closed

[2015-04-26 07:37] JackAdams commented on #79
I'll have a look at it later tonight.

[2015-04-26 15:34] JackAdams commented on #79
Just checked it. The `editable-json` package is maintaining date types correctly. It's the original update-save workflow that's converting date types to strings.

[2015-04-26 19:38] iDoMeteor commented on #69
Just loaded it up, seems to be working good!  I will be putting in some work on this project again soon.. Mongol working great on my current one, editing & all! :)

Thanks for following up!

[2015-04-26 19:39] ghost commented on #69
Just loaded it up, seems to be working good! I will be putting in some work on this project again soon.. Mongol working great on my current one, editing & all! :)

Thanks for following up!

[2015-04-26 19:56] msavin commented on #69
I'd guess there were some transforms involved. Glad to hear it's working now.

Sent from my iPhone

[2015-04-26 20:03] #69 closed

[2015-04-26 20:13] msavin commented on #67
Following up

[2015-04-28 02:15] wallslide opened #83 "Collection created in package not visible in Mongol"
We've recently moved some collections of ours into packages. Despite being fully usable within our application, Mongol is seemingly unaware of them. They don't appear in Mongol's list when it is opened with control+M. I've tried placing msavin:mongol at the bottom of our packages file, but still no luck.

[2015-04-28 02:17] wallslide commented on #28
@msavin Thanks for the progress. I tried out the latest version, but we've recently moved many of our collections into packages, and now they don't even show up in Mongol's list: https://github.com/msavin/Mongol/issues/83 so I haven't been able to test out if the new changes fixed our problem or not.

[2015-04-28 02:34] msavin commented on #83
You'd probably have to move package to load before them in the package file. Otherwise, please read more here:

https://github.com/msavin/Mongol/blob/master/documentation/COMPATIBILITY.md

Sent from my iPhone

[2015-04-28 02:34] msavin commented on #28
Can you try listing them manually and see how it works? Thanks!

https://github.com/msavin/Mongol/blob/master/documentation/COMPATIBILITY.md

Sent from my iPhone

[2015-04-29 21:41] wesyah234 opened #84 "Using autoform with Mongol flashes the previous value when saving a record."
This is odd, I recorded it as a screencast... the previous value of the document flashes on the screen when saving a record.  I'm using autoform.

http://screencast-o-matic.com/watch/cofUr4feIz

Oddly, this seems to be intermittent because I'm trying it again and now I can't get it to happen... nothing was changed in the code... so it's probably not a big deal... especially since one wouldn't be u

[2015-04-30 08:29] JackAdams commented on #84
Very odd. I can't immediately see what might be causing that, but then I'm not too familiar with the autoform internals.

[2015-05-01 17:43] #83 closed

[2015-05-01 17:44] msavin commented on #57
@MichelFloyd What I can recommend for now is installing the package manually and removing the editable JSON dependency. You may also have to set the hideInlineEditing helper to true. I'll look for a sturdier resolve in the future.

[2015-05-01 17:45] msavin commented on #79
Working on a fix...

[2015-05-01 22:40] MichelFloyd commented on #57
Thanks Max, I’ll give it a shot!

Congrats on quickly becoming one of the most popular packages for Meteor! Nice work!

On May 1, 2015, at 10:44 AM, Max Savin notifications@github.com wrote:

[2015-05-02 17:05] msavin commented on #57
@jackadams I understand that, but I don't understand why we need that package for Editable-JSON to work. It seems like it would be better to go without it for the sake of being leaner and preventing conflicts.

@MichelFloyd Thanks man!

[2015-05-04 10:44] allpratik opened #85 "Mongol is not being activated by Control + M"
Hi,

I just installed mongol and tried to use it in one of the project. But whenever I press "Cntrl+M" it does not show anything on screen.
Though after inspecting the code in console, I saw that Mongol divisions are toggling in the html code but they are not displayed on the screen.
Can you help me with it?
Thanks in advance!
Regards,
Pratik

[2015-05-06 19:52] msavin commented on #85
Can you please list:
- packages
- css frameworks

I wonder if you have something with a higher z-index overlapping Mongol (though that may not be possible)

[2015-05-11 09:44] corpxongithub opened #87 "Errors on duplicate (Any Document/Collection). Kills Mongol."
Reproduced on a fresh install of Meteor.  Steps below.

When you attempt to duplication a document in a collection, a duplicate is create and inserted but then it errors out and you have to reload to do anything with it.   Assuming you currently have 3 items in the collection the X/Y counter goes from 3/3 to NaN/4 when duplication.

Javascript error below.

Uncaught TypeError: Cannot read property

[2015-05-14 15:38] wesyah234 opened #88 "Is there a limit to the number of collections displayed in mongol?"
I added a new collection to my app, but I don't see it in the graphical window... currently, it is displaying 6 collections in the window.. could that be the limit?  I can see the contents of the collection using the console, and it's present in my app, just not visible in mongol..??
EDIT: I have confirmed the limit to be 6, as I commented out a different collection in my code and this new one I w

[2015-05-15 14:41] jononomo opened #89 "Indicate size in MB of each collection?"
I would love to know not only how many documents are in my collection, but also the overall size of the collection.  Is there any way this tool can display this info?

Thanks!

[2015-05-15 15:26] msavin commented on #89
For # of documents in collection, that may come to Mongol Pro. As far as size of collections, I do not believe there is a clean way to do it through Meteor.

[2015-05-15 15:26] #89 closed

[2015-05-15 15:27] msavin commented on #88
There isn't any limit actually.. I've seen guys have over 20 collections. I'm taking a look into it now.

[2015-05-15 15:29] msavin commented on #88
I just tested it and looks like it works fine. Can you post the results of the following command on the client:

Session.get("Mongol").collections

[2015-05-15 15:30] msavin commented on #87
Poor Mongol. Thanks for letting me know.. looking into it.

[2015-05-15 15:48] msavin commented on #87
Fixed, thanks for reporting it! It's very odd that is stopped working.

[2015-05-15 15:48] #87 closed

[2015-05-15 16:23] wesyah234 commented on #88
so sorry!! when I uncommented the code to put the 7th collection back in, it started showing up in mongol... so there must have been something else odd going on at the same time! Sorry to bother you!

[2015-05-15 16:23] #88 closed

[2015-05-15 16:30] msavin commented on #28
I'm assuming this is working now since it seems to have been a transform-related issue. Please let me know in the next 7 days or I'll have to assume its no longer an issue.

[2015-05-15 16:31] #67 closed

[2015-05-15 16:32] msavin commented on #85
Also, the result of these would be useful:

Session.get("MeteorToys_display")

and

Session.set("MeteorToys_display", true)

[2015-05-15 18:37] andylash commented on #62
I had the same problem, all my key collections are in packages.  Might want to note this in the README.

[2015-05-18 08:34] allpratik commented on #85
Following are the Package List for particular meteor project.

autopublish
dburles:google-maps
fuatsengul:leaflet
insecure
iron:router
maazalik:highcharts
meteor-platform
mizzao:bootstrap-3
msavin:mongol
underscore

As you can see I'm using Bootstrap 3 CSS framework.

[2015-05-20 18:34] saturnaut opened #90 "Data values flashing for a split second then disappearing."
Just ran a Meteor update. Mongol opens fine, no errors in either console. Clicking a collection shows the right number of entries, and I can cycle through them. But as each collection entry loads, it flashes the correct data for a split second, then the values disappear.

The fields I defined in the collection are still there, and even entries that have optional fields only show the field when tha

[2015-05-21 05:39] msavin commented on #90
Hmm -> any chance you are running some CSS classes directly on form elements?

[2015-05-21 21:21] saturnaut commented on #90
That was my original thought too, but I commented out all the imports in my main SASS file, which disabled all the styles that I'm running. I also though it could be the yogiben:admin package, so I cloned my project and removed it, with no luck.

I created a new Meteor project with a few dummy collections to check out a fresh install of Mongol, and it works fine with my current version of Meteor.

[2015-05-23 07:31] #90 closed

[2015-05-24 23:56] msavin commented on #85
Can you try suggestions from the previous comment

[2015-05-30 04:32] dpatte commented on #83
I also see this issue. I am using vsivsi:file-collection and cannot see it's collection in Mongol. I have tried moving Mongol higher in the package list, but it has no effect in this case. It does use new FileCollection instead of new Mongo.Collection. Is this the issue?

[2015-05-31 07:20] 1devNdogs commented on #85
Uncaught Error: {{#each}} currently only accepts arrays, cursors or falsey values.
observe-sequence.js:144

got this error on ctrl+m or Session.set("MeteorToys_display", true)

[2015-06-01 18:42] msavin commented on #85
Hmmm can you provide more details (packages, framework overrides, etc)

[2015-06-01 20:38] #28 closed

[2015-06-01 20:42] msavin commented on #79
Fixed in 1.0.90. Let me know if you have any issues.

[2015-06-02 05:38] #79 closed

[2015-06-02 05:39] msavin commented on #57
Closing this as it is technically not Mongol related

[2015-06-02 05:39] #57 closed

[2015-06-02 13:56] allpratik commented on #85
@msavin I tried to set Session as you suggested.... the answer for it is "true" always.
As I mentioned earlier as well, that I can SEE mongol divs being rendered in my codebase when I toggle Cntrl + M.

But I'm not able to see mongol UI on screen.

So, Mongol is getting ACTIVATED, but something is going wrong while rendering UI. And I had tried this with demo and example projects as well.

[2015-06-02 15:30] msavin commented on #85
It's got to be something either sitting over it or overriding its CSS. I'd recommend playing with inspect elemenent. If you can list your libraries, maybe I can help you find it.

[2015-06-04 01:16] dpatte commented on #79
It looks like it is fixed. Thanks a lot.
I don't seem to be able to use Mongol to fix the date fields that were originally corrupted, but I can use the Mongo command line for that of course.

[2015-06-04 01:33] msavin commented on #79
It should parse them back as a date, unless something else was changed about them and they no longer parse as a date. Thanks for confirming it works for you.

Sent from my iPhone

[2015-06-04 02:08] dpatte commented on #79
Fixing the corrupted dates:
If I use the green fields, it doesn't seem to work.
It does work if I use update/save but only if I set them to zero and save, then the date and save.
Unfortunately, it also converts all non-string falsy fields to Jan 1 1970 at the same time

[2015-06-04 02:15] msavin commented on #84
Can you confirm if this is for a specific browser or just an overall issue?

[2015-06-04 02:16] msavin commented on #73
Update for @JackAdams: if you have time, that would be great :+1:

[2015-06-04 04:41] msavin commented on #79
Epic fail. Working on a patch.

[2015-06-04 04:43] dpatte commented on #79
It happens to the best of us :)

[2015-06-04 20:18] msavin commented on #79
Patch up -> the fix is limited but should work in 'standard' cases.

[2015-06-05 13:53] tcastelli opened #91 "new check error with latests versions of mongol"
hi, i've got this error all the time when using mongol in a project with audit-argument-checks package, could you add (at least) a check(arguments,[Match.Any]) on that call?

Exception from sub MeteorToys id 6XsCtMeJTTa9WsJMH Er
ror: Did not check() all arguments during publisher 'MeteorToys'
I20150605-15:47:44.087(2)?     at [object Object]._.extend.throwUnlessAllArgumen
tsHaveBeenChecked (packag

[2015-06-08 03:59] dpatte commented on #79
Thanks. I notice that falsy non-date fields are ok now. Thanks.
But I still can't seem to change a date field that was corrupted with the original error. I will investigate further and if necessary open another issue with exact details.

[2015-06-08 12:30] klaseskilson commented on #91
+1, have this issue using Meteor 1.1.0.2 and Mongol 1.0.97.

[2015-06-11 11:25] jordangarside commented on #73
:+1:

[2015-06-14 09:07] laurentpayot opened #92 "hide Velocity test-related collections"
Hi. It would be nice to have an option (checked by default) to hide Velocity test-related collections. At least 8 velocity-prefixed collections are displayed in Mongol along with my "normal" collections. It's a bit messy...

[2015-06-15 17:43] kamek-pf commented on #92
+1, would love some sort of filtering options.

[2015-06-16 17:17] alesch commented on #92
+1

[2015-06-22 09:38] jorisroling commented on #85
Same here, Ctrl+M not working in Chrome (Mac), but it does work in Safari (Mac).

[2015-06-22 18:53] rclai commented on #49
Does `.permit()` only not exist on `Meteor.users`?

[2015-06-23 22:35] msavin commented on #92
You can use

[code]

to hide collections. I think it would be better to leave it up to you than bundle on support for a ton of packages.

[2015-06-23 22:35] msavin commented on #85
Hmm - do you have any Chrome extensions running?

[2015-06-23 22:44] jorisroling commented on #85
Hi Max,

I disabled all the Chrome extensions, and now it works. I (one by one) enabled them again, to check which one was the bad one, but now it works with all of them enabled again. Sorry to have bothered you with such foolishness. Thanks for Mongol!

Regards,

Joris

On Wed, Jun 24, 2015 at 12:35 AM, Max Savin notifications@github.com
wrote:

[2015-06-23 23:19] kamek-pf commented on #92
Awesome, thanks !

[2015-06-25 17:09] avalanche1 opened #93 "update mongol when navigating pages"
It'd be nice if Mongol updated itself with new values when I navigate to a new page.
Currently I have to press `ctrl+m` two times to re-open it and see new values.

[2015-06-26 14:44] kamek-pf commented on #92
I found a bug, here is what I have somewhere in my client code :

[code]

It works fine until you hit F5, or change the URL manually. When one of these two things happens, Mongol fails to find collections ("No collections").

[2015-06-28 01:29] eliasthompson opened #94 "Collections Not Being Read from 'Mongol' Session"
Ever since the last version update I did of Mongol, it hasn't been reading the collections array and now just shows every collection. At first I thought it was something I messed up on my project, but now I am seeing it on multiple projects after updating on different machines. Any way to put this functionality back in, or is this something being moved over to the Pro version?

[2015-06-28 01:33] msavin commented on #94
Nothing was removed from the free version, thought you may like the bonus features of the paid version. Mongol stopped using Session in favor of its own reactive dictionary. See the new approach here:

https://github.com/msavin/Mongol/blob/master/documentation/COMPATIBILITY.md

[2015-06-28 02:02] eliasthompson commented on #94
Thanks for the heads up!

[2015-06-28 04:18] rvzzz commented on #85
Hi, I came across this issue too and I found the problem was about something I was doing wrong about the iron router templates - http://stackoverflow.com/questions/26121109/uncaught-error-no-iron-layout-found-so-you-cant-use-yield.
It now works like a charm to me..
Hope it helps someone else.
@msavin Thank you for this awesome meteor package!

[2015-06-29 14:45] laurentpayot commented on #92
@msavin Thanks, it's quite useful! :+1:

@kamek-pf just add <code>Package["msavin:mongol"].Mongol.detectCollections()</code> before your loop to fix your bug (that I experienced too). Mongol is a debugOnly package so to avoid an error message in production I added a condition to check if Mongol is defined. In Coffeescript:

<pre>
if Package["msavin:mongol"]
    mongolIgnoredCollections = [

[2015-06-30 18:25] kamek-pf commented on #92
@laurentpayot thanks for the `detectCollections()` tip ;D
@msavin I guess you could close the ticket, it would help if this was documented somewhere though. Thanks for this nice tool btw :D

[2015-06-30 19:14] laurentpayot commented on #92
If everything is fine then I'm closing the ticket...

[2015-06-30 19:14] #92 closed

[2015-07-04 18:26] #85 closed

[2015-07-04 18:27] msavin commented on #84
Closing since there is no reproduction

[2015-07-04 18:27] #84 closed

[2015-07-10 14:57] petermikitsh opened #95 "Include transformations in documents"
Properties added during transformations are not shown in the Mongol window.

[2015-07-13 04:44] JackAdams commented on #95
This is deliberate. Mongol gives a reflection of what is in the mongo (or rather, minimongo) database. Consider what would happen if a `transform` added a function property - how would that be reflected (or edited!) via the Mongol UI?

[2015-07-13 13:38] petermikitsh commented on #95
Considering that in the context of the application, all documents go through transformation by default, it would be a meaning default to show added properties. Perhaps out the door, properties that are functions are simply represented as such as not editable through the mongol console.

[2015-07-13 16:32] JackAdams commented on #95
Yeah, I hear what you're saying.  At the moment, showing the results of transforms (including possible function-type properties) is non-trivial.  It would entail a pretty large scale re-write of the Mongol internals.

[2015-07-13 18:11] petermikitsh commented on #95
Ah well that's a shame. Perhaps you and @msavin could consider the feature for a future major release!

[2015-07-15 06:52] rubenpa opened #96 "Any way to get data when clearing all Sessions"
In my app, if I run Session.keys = {}, all of the content inside Mongol disappears.  Is there a function I can run in the console or something of the sort that will allow me to fetch the data?

[2015-07-20 19:02] abernix opened #97 "ReferenceError: firstToUpper is not defined"
Hey,

``msavin:mongol                       1.1.0``

**This only happens on the pro-version** (I tried again with the same project non-pro and it works fine):

[code]

Looks like the method is just not defined at [this line in the source](https://github.com/msavin/Mongol/blob/6212e8609a7044010cfbc6f8e559870f57746c6a/lib/common.js#L150).  It's not defined anywhere in the package, and that's not a f

[2015-07-20 19:04] abernix commented on #97
I guess I should point out that everything still works, it just brings that up each time you load the Toys with Ctrl-M. :smile_cat:

[2015-07-21 02:38] ccuilla opened #98 "Failed to decode font LiberationMono-Bold"
Getting the following warning:

Failed to decode downloaded font: http://localhost:3000/packages/meteortoys_toykit/public/LiberationMono-Bold.ttf

msavin:mongol version 1.1.0

[2015-07-21 02:44] ghost commented on #98
meteortoys:toykit 0.8.2

[2015-07-21 17:06] speciose opened #99 "font-family of 'strong' tag"
This appeared in my styles and broke my fonts (mongol v 1.1.0)
[code]

[2015-07-21 20:55] eliasthompson commented on #94
Is this still the way to do this? I haven't seen anything in the compatibility file change, and I've been getting a "Cannot read property 'set' of undefined" error lately.

![image](https://cloud.githubusercontent.com/assets/3383889/8812215/a5a865ae-2faf-11e5-94f7-7dd991d9a75c.png)

[2015-07-22 09:51] majorgilles opened #100 "Mongol shadows Meteor.collection global definition"
https://github.com/vsivsi/meteor-file-sample-app/issues/2#issuecomment-120780592

https://atmospherejs.com/vsivsi/defender

This was preventing me from installing other packages.

[2015-07-22 12:28] rclai commented on #100
There's not much you can about it unless
1. The giant popular packages decide to stop wrapping `Mongo.Collection` (like `matb33:collection-hooks`, `dburles:mongo-collection-instances` (tons of packages depend on this))
2. MDG addresses it with an in-core solution

Defender will 100% catch something if you use some of popular packages out there like the ones I mentioned above.

[2015-07-22 16:59] eliasthompson commented on #94
Never mind, I'm an idiot and didn't update to the latest version.

[2015-07-22 16:59] #94 closed

[2015-07-23 00:27] gabe-cabral commented on #99
Same here.

[2015-07-23 15:23] Siyfion commented on #99
Agreed. Same here. This needs to be fixed asap.

@msavin This has broken people's lovingly crafted UI's! :cry:

[2015-07-23 18:18] rkstar opened #102 "Failed to execute 'removeChild' on 'Node': The node to be removed is not a child of this node."
I've been getting this error for quite some time working with Mongol in my meteor-react apps.
[code]

Here is the full error text:
[code]

it doesn't happen every time and it's not consistent.  any ideas?

[2015-07-29 06:53] JackAdams commented on #73
I've added full local collection support to Constellation, but it took a pretty substantial refactor.  I don't know whether you'd want me to take the knife to Mongol in the same way.

Basically, in each of the event handlers that is going to fire a server side mutator method, you need to:
1. check whether the current collection is local and (assuming it is ...)
2. replicate the intended method's a

[2015-07-29 23:10] masiello-verys commented on #97
I'm on non pro. **Only have Mongol installed.**
I'm getting this same exception any time I open Mongol via Ctrl-M. It throws the exception three times with each open. It doesn't seem to affect the functionality of Mongol as I can still use it without other problems.

[2015-07-29 23:11] saturnaut commented on #97
I'm on non pro. **Only have Mongol installed.**
I'm getting this same exception any time I open Mongol via Ctrl-M. It throws the exception three times with each open. It doesn't seem to affect the functionality of Mongol as I can still use it without other problems.

[2015-07-30 12:16] abernix commented on #97
@saturnaut  Strange.  When I de-register my "pro" version, this doesn't happen.

Either way, as you stated, it outputs three times for me as well and it doesn't affect functionality, but it's mildly annoying as it gets in the way of my other debug code.

In addition to the above error, I also get the following error (before the three instances of the firstToUpper error) which seems to be happening

[2015-07-30 12:17] abernix commented on #97
I _should_ mention that this locally defined `firstToUpper` method clearly doesn't do what it's supposed to do, but the check that it's making isn't relevant to my system, so it's not necessary that it work. :smiley:

[2015-07-31 17:31] OlivierPT opened #103 "Mongol is not working with Angular"
After adding msavin:mongol package to the official tutorial application "Meteor with Angular", the mongol UI is not showing after Ctrl - M...

[2015-07-31 17:44] evolross commented on #99
Same here. +1

This error doesn't occur in `1.0.102`. So you can roll back using `meteor add msavin:mongol@=1.0.102`.

With `1.1.0` I get the following CSS error in my console (looks like it has to do with `meteortoys:toykit`):

`downloadable font: rejected by sanitizer (font-family: "Liberation Mono" style:normal weight:bold stretch:normal src index:0) source: http://192.168.0.102:3000/packages/m

[2015-08-01 07:04] JackAdams commented on #102
I've been told that this fixes the problem, but it requires a change to Mongol:

In `main.html`, this needs to be removed:

[code]

And, in `main.js`, add this at the end:

[code]

[2015-08-01 07:16] JackAdams commented on #103
Might be the same sort of thing as #102. See the fix in the comments there. I'd be interested to hear if it works for you.

I just tried a fork of Mongol that has the fix in it with an angular app (the official tutorial app) and it seemed to work fine.

[2015-08-03 12:03] OlivierPT commented on #103
Yes, your solution solved the issue for me also. Great! I close the issue.
Hope the solution will be included in a new version of the package.

Thank you.

[2015-08-03 12:03] #103 closed

[2015-08-03 12:26] JackAdams commented on #103
Hey @OlivierPT  -- thanks for getting back to us on this one.  Glad to hear the fix worked!

[2015-08-06 19:53] EddyBorja commented on #99
+1

[2015-08-07 10:20] saturnaut commented on #98
Getting the error as well with only non-pro Mongol installed.

[2015-08-07 10:21] saturnaut commented on #97
@abernix Good idea on that workaround. I do a ton of logging while working on Meteor apps and that error was really getting in the way.

Also, I'm not seeing the other error you mentioned (cannot read property 'collections' of undefined). I am only seeing one other error which is the font not loading (issue #98).

[2015-08-07 12:46] msavin commented on #99
Hey folks, sorry for the delay in responding. I've been traveling, and I couldn't crack the issue because 1) it worked fine in Safari, my default browser, and 2) I had the font installed on my machine. However, Chrome gave it away and I pushed a fix as Mongol 1.1.1. Since its a patch update, it should go right into Meteor Toys as well. I've tested and there is no problem now, but if there is, plea

[2015-08-07 12:46] #99 closed

[2015-08-07 12:47] msavin commented on #98
Fixed with Mongol 1.1.1, for more info:

https://github.com/msavin/Mongol/issues/99#issuecomment-128485689

[2015-08-07 12:47] #98 closed

[2015-08-07 12:49] msavin commented on #100
Indeed - not much we can do, except continue to remind MDG about it :D

https://github.com/meteor/meteor/issues/3827

[2015-08-07 12:49] #100 closed

[2015-08-07 12:50] #95 closed

[2015-08-07 12:51] msavin commented on #96
The new Mongol uses its own reactive dictionary, so this should no longer be an issue. If it is, please let me know.

[2015-08-07 12:51] #96 closed

[2015-08-07 13:18] ghost commented on #99
It appears that the font decoding issue is gone.

However, it seems Mongol is still "hijacking" the styling for the < strong > tag (Chrome, Safari, Firefox). I think you want a more specific selector there.

[2015-08-07 13:32] msavin commented on #102
Thanks for looking into it. Mongol 1.1.2 has the patch. Please let me know if that helped.

[2015-08-07 13:32] msavin commented on #97
Corrected in 1.1.2. Going to close the issue, but please let me know if it persists.

[2015-08-07 13:32] #97 closed

[2015-08-07 13:35] msavin commented on #91
This was fixed in an earlier update. If you are still having the issue, please let me know.

[2015-08-07 13:35] #91 closed

[2015-08-07 14:26] msavin commented on #99
Haha wow I can't believe I made such an amateur mistake. Corrected in 1.1.3

[2015-08-07 15:37] ghost commented on #99
Hey no worries man! I do it all the time and I’ve been doing this a long time.

Thanks for the fix.

Chris

[2015-08-08 13:50] #102 closed

[2015-08-08 13:53] msavin commented on #73
Local collections will come in a future update for Mongol. In the meanwhile, I will close the thread since it is not as issue or advertised feature.

[2015-08-08 13:53] #73 closed

[2015-08-08 13:55] msavin commented on #93
Can you please elaborate? When you switch routes the contents update automatically.

[2015-08-08 21:04] gabe-cabral commented on #99
Thanks msavin!

[2015-08-09 10:03] avalanche1 commented on #93
Ah, yes. Mongol does it. Jetsetter doesn't.
When you switch routes the Jetsetter contents do not update automatically.

[2015-08-26 08:20] barbaroskurt opened #104 "Method not found [404]"
after installed mongol below error appeared in web-socket, when remove package it disappear;
it doesn't give any error on browser console or meteor console, i guess something suppress it.

[code]

and kadira trace error report;

[code]

meteor version
[code]

meteor list
[code]

[2015-08-26 21:26] msavin commented on #93
They should every 3 seconds. If you spot an issue, please create a report for JetSetter

[2015-08-26 21:26] #93 closed

[2015-08-28 17:31] abernix commented on #97
Works.  Thanks for the fix @msavin. :)

[2015-08-28 19:46] skolade opened #105 "Activation not working in Meteor 1.2"
Just want to inform you that I was trying to activate my MeteorToy license in Meteor 1.2, the license will not register!

[2015-09-08 23:14] brunolemos opened #106 "Exception - Match is not defined"
I keep getting this on server console:

[code]

[2015-09-10 08:41] sikanhe opened #107 "Updating collection in browser causes ISO date format to be removed."
I discovered this issue when i was aggregating docs on serverside using $group and $sum

I realized the aggredated result wasnt summing up correctly as it returned seperated docs for different dates. Some doc had the date in string format ie "2015-09-10T00:00:00.000Z", but some had ISO("2015-09-10T00:00:00.000Z"), and it is recognizing those as different timestamps in $grouping.

Then I realized a

[2015-09-10 08:59] msavin commented on #107
Good catch. I have a solution for it, coming in next update

Sent from my iPhone

[2015-09-14 16:12] bwhitty commented on #106
I am also getting the same error. Running `meteor@1.2-rc.14`.

[2015-09-14 16:13] brunolemos commented on #106
I'm also running v1.2, maybe it's related to that.

[2015-09-15 01:13] brunolemos commented on #106
Ok, current solution:

[code]

Now this package must be added to the dependency list.

[2015-09-15 01:30] brunolemos commented on #106
Pull request submitted.

[2015-09-20 10:11] mbrookes opened #109 "Error: use "new" to construct a Mongo.Collection"
Full stack trace:
[code]

`.meteor/packages`

[code]

The offending line:

[code]

...so I'm guessing Mongol doesn't play nice with GroundDB?

[2015-09-21 08:31] JackAdams commented on #109
I notice your `msavin:mongol` is after `ground:db`.  Take a look at #48 for the fix (in short, just put `msavin:mongol` before `ground:db` in the packages list).

[2015-09-21 19:55] mbrookes commented on #109
Spot on @JackAdams - thanks for pointing this out (and for figuring this out in the first place in #48), and sorry for not checking closed issues first. Awesome piece of work with @msavin on this. What a timesaver!

[2015-09-21 19:55] #109 closed

[2015-09-23 18:45] boustanihani opened #110 "Update babrahams:editable-json dependency"
Please update the ```babrahams:editable-json``` dependency to the latest version (currently ```0.6.0```):

Check: https://github.com/msavin/Mongol/blob/master/package.js#L56

[2015-09-25 20:47] jordangarside opened #111 "Request: give option to use in production"
It would be nice to implement this in a production admin application that I don't have the time to make a full document editing UI for yet.

Thanks!

[2015-09-25 21:46] #111 closed

[2015-09-26 12:21] marktomm opened #112 "RangeError: Maximum call stack size exceeded after Meteor update to 1.2.0.1"
Hello!

I have been having some problems with Mongol (1.1.5) after updating Meteor to 1.2.0.1.

When using Ctrl+m the minimized Mongol window pops up without any trouble, showing all my current collections with the number of elements in them.

When I click on a particular collection with elements, the window with the results is empty with a message 'No document found'. However the Duplicate, Updat

[2015-09-27 14:44] Jank1310 commented on #112
Same here, i get:

[code]

Update:
Meteor: 1.2.0.1
Mongol: 1.1.5

[2015-09-29 02:31] Anima-t3d commented on #112
Same here, makes debugging a pain...

[2015-09-29 03:29] Anima-t3d commented on #112
Fixed after meteor update to 1.2.0.2 and remove the meteortoys:allthings and add it again.

[2015-09-29 08:05] marktomm commented on #112
Problem solved after update to Meteor 1.2.0.2 and mongol 1.2.0.

[2015-09-29 08:05] #112 closed

[2015-09-29 10:35] msavin commented on #107
Fixed  with Mongol 1.2.0 :)

[2015-09-29 10:35] #107 closed

[2015-09-29 10:35] msavin commented on #106
Fixed in Mongol v1.2

[2015-09-29 10:35] #106 closed

[2015-09-29 10:35] msavin commented on #105
Thanks @skolade, Meteor Toys 2.0 just shipped with Meteor 1.2 compatibility

[2015-09-29 10:35] #105 closed

[2015-09-29 10:36] msavin commented on #49
Going to close this since its not really an issue with Mongol

[2015-09-29 10:36] #49 closed

[2015-09-29 10:39] msavin commented on #110
@boustanihani, unfortunately that package has broken compatibility with Meteor Toys, but there is a new inline editor for Mongol now that is much lighter.

[2015-09-29 10:39] #110 closed

[2015-09-29 23:38] MurWade opened #113 "What is the package meteortoys:toykit used for?"
You are using [meteortoys:toykit](https://atmospherejs.com/meteortoys/toykit) but in the install page it says "Do not install this package".

This was giving me an error so i removed mongol package and i stopped getting the error

[2015-09-29 23:48] cryptoquick commented on #113
I was getting this error, too. It looked kinda like this, right?

[code]

Regardless, I removed Mongol and it builds now.

[2015-09-30 00:15] mshamblott commented on #113
The latest Meteor 1.2 update had a warning about meteortoys backwards compatibility.  I got  the same errors, deleted mongol and it built.  Meteor isn't as fun without Mongol though!

[2015-09-30 00:22] tcastelli commented on #113
+1

[2015-09-30 00:23] tcastelli commented on #104
+1, but i can only see  Method not found [404] through Kadira Errors

[2015-09-30 01:15] gazhayes opened #114 "Application crashes when msavin:mongol installed (resolves when removed)"
See: https://github.com/gazhayes/popvote for relevant full code to replicate.

=> Exited with code: 8
W20150930-08:59:17.902(8)? (STDERR)
W20150930-08:59:17.903(8)? (STDERR) TypeError: Property 'undefined' of object [object Object] is not a function
W20150930-08:59:17.903(8)? (STDERR)             				throw(ex);
W20150930-08:59:17.903(8)? (STDERR) /Users/gareth/.meteor/packages/meteor-tool/.1.1.9.1

[2015-09-30 02:57] steinitz-zz commented on #114
I confirm this behavior with my Meteor 1.2 apps.

[2015-09-30 06:25] poyi commented on #114
Same here with Meteor 1.2.0.2

[2015-09-30 07:15] ziedmahdi commented on #114
The problem is with the meteortoys:toykit package which is automatically installed with the mongol package.

I think that this happens only with the latest version of the meteortoys:toykit package.

Just install a previous version of this package.

`meteor add msavin:mongol@=1.1.5`

[2015-09-30 07:49] zhaoyao91 commented on #114
@ziedmahdi this can be a temp fix, but I hope it can be fixed in the right way

[2015-09-30 11:32] sagarjs opened #115 "Error running mongol in latest version of meteor"
I am using meteor 1.2.0.2 on windows.
If i create a new app, and add mongol package, then run the project, i get the following error:

W20150930-17:00:44.438(5.5)? (STDERR) TypeError: Property 'undefined' of object
[object Object] is not a function
W20150930-17:00:44.438(5.5)? (STDERR)     at Package (packages/meteortoys_toykit
/packages/meteortoys_toykit.js:290:1)
W20150930-17:00:44.438(5.5)? (ST

[2015-09-30 13:03] msavin commented on #115
Thanks for letting me know, and sorry about the issue! Looking into it issue now.

[2015-09-30 13:38] otroboe commented on #115
Same issue for me, in Meteor 1.2.0.2 (Ubuntu 14.04)

[2015-09-30 15:53] mikepaszkiewicz opened #116 "MeteorToys TypeError preventing startup: Property 'undefined' of object not a function"
I'm @ Meteor 1.2.0.2, MeteorToys 1.0.0, and Mongol 1.2.0. Doesn't seem to be an issue with package load order, but preventing my app from starting. Any ideas?

[code]

[2015-09-30 16:09] jesperordrup commented on #116
I've got the same errormessage.

Solution worked until upgrading to meteor 1.2

Removing  msavin:mongol from solution makes it work.

[2015-09-30 17:07] elie222 commented on #116
+1

[2015-09-30 17:23] msavin commented on #116
I just pushed up an update.. I have no idea what broke but it looks like its working now. Can you guys please confirm?

I am testing on todos app with Meteor 1.2

[2015-09-30 17:37] elie222 commented on #116
Working now

[2015-09-30 17:39] msavin commented on #115
Should be corrected - please lmk if it helped

[2015-09-30 17:41] jonmc12 commented on #115
@msavin that fixed it for me, thx!

[2015-09-30 17:57] jesperordrup commented on #116
YES! Thank you!

[2015-09-30 18:03] otroboe commented on #115
@msavin Works for me too, thank you !

[2015-09-30 18:17] msavin commented on #115
Awesome - thanks for the word!

[2015-09-30 18:17] #115 closed

[2015-09-30 23:30] msavin commented on #114
Thanks for letting me know. It's fixed in new update. To fix, add and then remove

[2015-09-30 23:30] #114 closed

[2015-09-30 23:30] #116 closed

[2015-09-30 23:30] #113 closed

[2015-09-30 23:30] msavin commented on #113
Fixed - to reset add and remove the package :)

[2015-10-01 13:20] sagarjs commented on #115
Hi,

It's not crashing anymore, but i can't seem to open the Mongol UI using CTRL + M.

[2015-10-02 01:49] brunolemos opened #117 "Server error on v1.2"
[code]

[2015-10-02 02:54] physicsteacher commented on #115
Started getting this error today. It was working yesterday.

[2015-10-02 02:58] mshamblott commented on #117
I got the same error.  Removing Mongol / jetSetter or possibly anything dependent on meteortoys allows build.

[2015-10-02 03:03] msavin commented on #115
Can you remove and re-add please?

Sent from my iPhone

[2015-10-02 03:08] physicsteacher commented on #115
Works fine when I remove it but crashes when it is added

[2015-10-02 11:00] simongroll commented on #117
+1 (building on Windows)

[2015-10-02 12:35] msavin commented on #117
Sorry for the inconvenience, I'm looking into it. It's strange because it works then breaks.

[2015-10-02 12:36] simongroll commented on #117
:+1:
Thanks!

[2015-10-02 12:52] otroboe commented on #115
I have the problem again :(
It's very weird, I dont know why.

I tried to do this:

[code]

[2015-10-02 14:07] msolters commented on #117
I have two observations.
-  On my system at least -- Ubuntu 15.04 -- if I add `msavin:mongol` _while_ the Meteor 1.2 server is running, it works fine.  It's only when I start a Meteor 1.2 server that has it already included that I get this error.
-  I also pushed a project with mongol added and working to a repo, and when I cloned it to another system (also Ubuntu 15.04) and started the Meteor ser

[2015-10-02 14:41] derwaldgeist commented on #115
Same problem here, after update to 1.2.0.2

[2015-10-02 14:53] nicholaai commented on #115
I'm having the same issue. Run meteor remove msavin:mongol and server runs. meteor add msavin:mongol and it breaks again.

[2015-10-02 15:37] tommiley commented on #117
I also am getting this

[2015-10-02 16:04] mikepaszkiewicz commented on #117
Had it working fine as of the issue I posted yesterday. My meteor.com server crashed overnight with same logs, now can't even run locally without removing allthings/mongol. Very strange.

[2015-10-02 16:12] mayankchhabra commented on #117
I'm getting the same error too (Meteor 1.2.0.2, OS X)

[2015-10-02 16:34] derwaldgeist commented on #115
Downgraded to 1.1.0.3, but the problem remained. Doesn't seem to be related to the Meteor update.

[2015-10-02 17:12] msavin commented on #117
Ok - I _hope_ its fixed. Please add/remove to try again :8ball:

[2015-10-02 17:15] mayankchhabra commented on #117
Yes, it works! Thanks a lot! :+1:

[2015-10-02 17:31] gdw2 commented on #117
Did you just republish?  I don't see any code changes in github.

On Fri, Oct 2, 2015 at 10:15 AM, mayankchhabra notifications@github.com
wrote:

[2015-10-02 17:38] tommiley commented on #117
Working for me as well. Thanks Max.

[2015-10-02 18:32] armandomendivil commented on #115
Update meteortoys:allthings to 2.0.0 version, works for me

[2015-10-02 18:58] otroboe commented on #115
@armandomendivil But v2 is not free ?

[2015-10-02 19:09] armandomendivil commented on #115
@otroboe  ![meteortoys](https://cloud.githubusercontent.com/assets/5134490/10255243/f894bc5e-68fd-11e5-92d4-1dce19b0c9dc.png)
meteor update
meteor remove meteortoys:allthings
meteor add meteortoys:allthings
works for me and my team

[2015-10-02 19:55] msavin commented on #115
Hmm I wonder why it's not installing V2. It should still install as the base package is free. Can you send a list of your packages?

Then, you may want to remove all of em and run meteor add meteortoys:allthings@2.0.0

Sent from my iPhone

[2015-10-04 06:39] pikachuPokemon opened #118 "Client side errors meteor 1.2"
upgrading to meteor 1.2 the app build failed but this was fixed by removing/adding the package.
Now the build is successful but the package doesn't work in browser.

errors logged in browser console:

[2015-10-04 08:18] lukejagodzinski commented on #118
I get the same error:

Uncaught TypeError: v8a[L] is not a function(anonymous function) **meteortoys_toykit.js:488**
runStartupCallbacks **startup_client.js:30**
ready **startup_client.js:32**

[2015-10-04 10:29] TylerShin commented on #118
I got the same problem too.
I know it's annoying to you with Meteor update but I happily waiting that It will be fixed soon.

[2015-10-04 12:19] stefanve commented on #118
Same here

[2015-10-04 12:21] elie222 commented on #118
+1

[2015-10-04 12:22] stefanve commented on #117
After removing/re-adding the above problem went away but I still have the issue reported here: https://github.com/msavin/Mongol/issues/118

[2015-10-04 12:31] crapthings commented on #118
+1

[2015-10-04 13:17] mochtu commented on #118
+1

[2015-10-04 15:00] msavin commented on #118
New update pushed with another patch.. looks to be working. Please try again. Hopefully this doesn't break by tomorrow.

[2015-10-04 15:30] stefanve commented on #118
Works for me!

[2015-10-04 15:50] crapthings commented on #118
It works for me!

[2015-10-04 15:52] billh93 commented on #118
The update still hasn't reached my location yet :(.
I'm running 'meteor update mavin:mongol' but it says 'The specified packages are at their latest compatible versions.' I will have to wait a few hours or so.

[2015-10-04 15:52] lukejagodzinski commented on #118
Yep, it's working. Thanks!

[2015-10-04 16:03] stefanve commented on #118
billh93, try remove/add

[2015-10-04 16:08] billh93 commented on #118
Ahh okay I know what was the problem. I had msavin:jetsetter installed along with msavin:mongol. That's why updating and removing msavin:mongol didn't do anything.

If anyone has msavin:jetsetter installed, uninstall it and update msavin:mongol and it will work.

[2015-10-04 17:09] akshaykmr commented on #118
Thanks! its working.

[2015-10-04 20:19] nicholaai commented on #118
Fixed. Thanks

[2015-10-05 07:13] guidouil commented on #118
Yes un-installed mongol and jetsetter, then re-installed and everything is fine. Thanks, stay awesome :)

[2015-10-05 07:31] mochtu commented on #118
Works now! Thanks,

[2015-10-08 22:33] JrodManU commented on #118
Phew, good thing this started working because Constellation just broke today for me xD Thanks for the update!

[2015-10-09 13:00] jorisroling opened #119 "MeteorToys error on server"
Server logs get cluttered with exceptions (below).
msavin:jetsetter @ 1.3.0
msavin:mongol @1.4.1

[code]

[2015-10-09 13:11] msavin commented on #119
Can't get to this right now unfortunately. Check out http://toys.meteor.com in the meanwhile though :)

Sent from my iPhone

[2015-10-09 15:03] msavin commented on #119
Okay it looks its fixed; would be great if you can confirm. In the meanwhile, closing this thread

[2015-10-09 15:03] #119 closed

[2015-10-09 15:03] msavin commented on #117
Nice - glad its working now. Also, folks, check out http://toys.meteor.com :)

@gdw2 Mongol went closed source - but will continue to be improved and free

[2015-10-09 15:03] #117 closed

[2015-10-09 15:04] msavin commented on #118
Awesome, glad this is over :D

@everyone, you may want to take a look at http://toys.meteor.com before the weekend :)

[2015-10-09 15:04] #118 closed

[2015-10-10 12:57] jorisroling commented on #119
I still get the error...

On Fri, Oct 9, 2015 at 5:03 PM, Max Savin notifications@github.com
wrote:

[2015-10-10 15:31] tcastelli opened #120 "ToyKit of undefined after starting app"
[code]

[2015-10-11 02:04] ramify commented on #120
Getting the same error after updating today.

[2015-10-11 04:00] NigelEarle commented on #113
@msavin gettting error `Exception while invoking method 'MeteorToys' TypeError: Cannot read property 'ToyKit' of undefined` after installing `msavin:mognol`. Any suggestions or similar packages to install using `meteortoys:toykit`?

[2015-10-11 20:03] samoilis commented on #119
me too
msavin:jetsetter@1.3.1
msavin:mongol@1.4.3

TypeError: Cannot read property 'ToyKit' of undefined
    at [object Object].Meteor.(anonymous function).MeteorToys (packages/msavin_mongol/server/methods.js:1:1)
    at [object Object].methodMap.(anonymous function) (packages/meteorhacks_kadira/lib/hijack/wrap_session.js:164:1)
    at maybeAuditArgumentChecks (livedata_server.js:1692:12)
    at l

[2015-10-11 21:23] msavin commented on #119
Does it still work or nope? Try the Meteor Toys package this weekend. I think some of trial stuff I built in is causing this. I'll deploy the other version tomorrow. Sorry for the inconvenience.

Sent from my iPhone

[2015-10-11 21:35] jorisroling commented on #119
Works, thanks!

[2015-10-11 21:37] jorisroling commented on #119
Too fast, still get this on server:

20151011-23:35:17.023(2)? Exception while invoking method 'MeteorToys' TypeError: Cannot read property 'ToyKit' of undefined
I20151011-23:35:17.023(2)?     at [object Object].Meteor.(anonymous function).MeteorToys (packages/msavin_mongol/server/methods.js:1:1)
I20151011-23:35:17.023(2)?     at [object Object].methodMap.(anonymous function) (packages/meteorhacks

[2015-10-12 01:36] liambluebox commented on #120
I get the same thing.

[2015-10-12 01:39] casual-will commented on #119
This is still an issue.

[2015-10-12 08:51] fishdude opened #121 "Exception while invoking method 'MeteorToys' TypeError: Cannot read property 'ToyKit' of undefined"
After updating a project to Meteor 1.2, i've started to receive the following error after server starts.

[code]
[code]
When I remove mongol the error is no longer thrown, but I would love to start using this incredibly useful tool again! Thanks for all of the terrific work.

[2015-10-12 09:33] nickredmark commented on #119
+1

[2015-10-12 11:00] vseehausen commented on #121
+1
Exception while invoking method 'MeteorToys' TypeError: Cannot read property 'ToyKit' of undefined

[2015-10-12 12:31] serut commented on #119
+1

[2015-10-12 22:18] Xsandor commented on #119
+1

[2015-10-13 06:58] warmbowski commented on #121
On the first day of the hackathon, I got that error when I installed mongol on a new project using 1.2.0.2 and tried hitting ctrl-m. Basically mongol wouldn't come up in the interface. So I removed the mongol package and added the full Meteor Toys that was offered for free. It came up in the interface and worked fine when I hi ctrl-m, but still complained with a similar error:

[code]

[2015-10-13 07:08] mhagmajer commented on #119
@msavin, this still happens on mongol 1.4.3

[2015-10-13 12:31] jesperordrup commented on #119
Got the same problem. This issue is closed?

[2015-10-13 14:57] serut commented on #121
I can use this pluggin with the lastest Meteor version, this is my workflow :
First, I removed the msavin:mongol package

[code]

Then I downloaded the entire msavin/Mongol as zip (you can clone the repo) and I put it in the packages directory.
I just had to edit the file package.js :

[code]

Then I add this package to my project. At this step, if you just add the package, you will see an error :

[2015-10-13 15:55] oliroy commented on #120
+1

[2015-10-13 15:58] oliroy commented on #121
+1 on exception.

[2015-10-13 21:11] MartinBucko commented on #119
+1
- 1.4.3
- Meteor 1.2.0.2

[2015-10-14 09:11] MilosStanic commented on #119
+1

[2015-10-14 09:19] jackkav commented on #120
+1

[2015-10-14 14:46] maximebodereau commented on #119
+1

[2015-10-14 14:47] JcBernack commented on #121
I get the exception on each page reload, but the UI is showing and working.

[2015-10-14 15:55] adamclark64 commented on #119
wouldnt you know. I have this issue as well

[2015-10-14 18:56] hafizali05 commented on #119
no support?

[2015-10-15 00:30] adityamenon-iom commented on #121
I can confirm that the behavior is same for me as @JcBernack

[2015-10-15 01:53] sylido commented on #121
+1

[2015-10-15 08:56] thomasspiesser commented on #119
same same
msavin:mongol 1.4.3
Meteor 1.2.0.2

[2015-10-15 13:28] akaushik commented on #119
when we can see this rectified?
msavin:mongol 1.4.3
Meteor 1.2.0.2

[2015-10-15 17:56] sschuchlenz commented on #121
+1

[2015-10-15 19:31] jurajkrivda commented on #121
+1

[2015-10-16 08:37] selaias commented on #119
removing msavin:mongol and any other related packages and  just adding meteortoys:allthings
fixes the issue but then you get a big bunch of packages

gwendall:body-events     added, version 0.1.6
meteortoys:allthings     added, version 2.1.1
meteortoys:authenticate  added, version 2.0.0
meteortoys:autopub       added, version 2.0.1
meteortoys:blueprint     added, version 2.0.2
meteortoys:email

[2015-10-17 22:03] msavin commented on #121
Hey folks, sorry for the delay. It should be resolved now. Please let me know how its working.

[2015-10-17 22:04] msavin commented on #120
Should be corrected in the new version. Please let me know if it works by removing and re-adding your packages.

[2015-10-17 22:04] msavin commented on #104
HI there - we are a few versions up now - can you please let me know if this is still an issue?

[2015-10-17 22:13] jurajkrivda commented on #121
It works. Thank you.

[2015-10-17 23:43] msavin commented on #121
Awesome - closing then :)

[2015-10-17 23:43] #121 closed

[2015-10-19 16:09] fishdude commented on #121
Thanks @msavin!

[2015-10-19 19:31] #120 closed

[2015-10-19 19:32] msavin commented on #104
Assuming this works now, so will close the issue

[2015-10-19 19:32] #104 closed

[2015-10-20 00:21] vseehausen commented on #121
Thanks. :-) Good Job.

[2015-10-20 17:56] EranSch commented on #121
YOU THE MAN, SAVIN!! :+1: :+1:

[2015-11-08 03:39] josephdburdick opened #122 "Session set not opening up Meteor Toys"
Hi Max,

Session.set("MeteorToys_display", true) doesn't do anything in any template lifecycle callback. I'm not using anything other than Meteor Chef's base as a boilerplate for my Meteor app.

Here's my Meteor .package:
[code]

[2015-11-08 12:48] msavin commented on #122
This'll get ya going :) I'll work on updating docs soon.

Package["meteortoys:toykit"].ToyKit.set("display",true);

[2015-11-08 12:48] #122 closed

[2015-11-17 05:35] sikanhe opened #123 "Is it possible to show local(cilent only) collections as well?"
I am making a mostly static site and i am pull server data via meteor methods into a client site collection for caching, is it possible for mongol to show these Mongo.Collection(null) collections ?

[2015-11-17 06:11] msavin commented on #123
Coming soon :)

Sent from my iPhone

[2015-11-17 06:49] sikanhe commented on #123
you're the best ;)

[2015-11-21 23:48] sikanhe commented on #123
Oh wait you can just define a local collection with a name instead of just null it will show up, idk why i thought one would need to pass null..

[2015-11-22 22:50] cschep commented on #6
![screenshot 2015-11-22 14 49 15](https://cloud.githubusercontent.com/assets/9520/11326796/43a8f10e-9128-11e5-829b-0f22720083bc.png)
![screenshot 2015-11-22 14 49 27](https://cloud.githubusercontent.com/assets/9520/11326795/43a84aa6-9128-11e5-91e0-3274319471f2.png)

Hey thanks for a really cool tool. I'm using bootstrap and seeing white text on a white background and I found this rule.. looks like

[2015-11-26 12:22] yched opened #124 ""$ is not a function" if jquery package is absent"
If for some reason the jquery package was removed (for example because you don't really need it when using react ?), then editing a document fails with a "$ is not a function" error.

Should mongol depend on jquery ?

[2015-12-21 16:20] stivaugoin opened #125 "Mongol_verifyDoc"
When I install msavin:mongol, I have this error:

[code]

Thanks!

[2015-12-24 22:46] MasterJames commented on #3
I'm thinking the error might occur when used without template helpers?
I'll look for a way to tell it what to attach it's display too, as it will be invisible in my package, but since I only get the error. I guess it's not for me.

[code]

Maybe also triggered if you're using a different router?

[2016-01-12 09:44] ArcaneEngineer opened #126 "Spaces appearing in mongol property names, editing issues"
Disclaimer: [The live demo](http://mongol.meteor.com/) appears to work fine for me.

I'm getting a ton of spaces both before and after each property name - so much so that I can't see the name without scrolling way over to the right, which is extremely tedious while trying to work.

I also can't seem to edit things properly, for example, I create a new entry in a collection, but when I hit update

[2016-01-12 10:03] ArcaneEngineer commented on #126
Alternatively, I'd be happy to just get an install package that works with mongol.

[2016-01-12 11:27] msavin commented on #126
Thanks for the alert, I will look into it soon. Can you please try a clean app and see if the issue persists? If so, a list of your packages would be helpful to start.

Sent from my iPad

[2016-01-12 13:34] ArcaneEngineer commented on #126
Thanks msavin, a fresh app fixed it. Doh.

[proj.zip](https://github.com/msavin/Mongol/files/87280/eflstats.zip)

It's odd, since the original project - attached - was very simple. I probably did something stupid - new to meteor. Anyway, we can close unless you want to look into what was causing that...

[2016-01-12 14:32] ArcaneEngineer commented on #126
The "many spaces" was a CSS issue - of my own making (see final entry in CSS).

[2016-01-12 14:49] ArcaneEngineer commented on #126
Alright, having removed the annoying "spaces" part of this issue, I'm re-opening as I can now see no reason why the editing should not be working - Basically everything is fresh, including HTML & JS with no CSS. Packages:
[packages.txt](https://github.com/msavin/Mongol/files/87445/packages.txt)

I try to edit and simply can't get between the braces! It's insane!

[2016-01-12 15:33] ArcaneEngineer commented on #126
OK... Editing _is_ a Firefox issue, or at least my local FF config does not allow me to edit. In Chrome, with the "spaces" issue resolved, I can now edit just fine. That's good enough for me.

I'll leave this open as you may want to look at what's causing the problem in FF - attached simple test.
[test.zip](https://github.com/msavin/Mongol/files/87496/test.zip)

[2016-01-14 18:21] marxo commented on #125
This might be related to the fact that both jetsetter and mongol are installed. If that is the case, uninstalling either one will solve the issue.

[2016-01-26 20:35] corpxongithub opened #127 "0.7.2 package source"
Hi there.  I looked through branched and releases, but can't find the 0.7.2 branch.  Its the version I'm running and I would like to make some template tweaks.  so it works with Bootstrap and/or semantic.
New to meteor and while I have the older version in cache, I don't know where the source files are, just meteor tools and packing system files.  just the cached files.

Thanks
JK

[2016-01-27 01:11] sylido opened #128 "Mongol + Lodash + Underscore"
Seems like lodash and underscore are mixing up and mongol expects a contains method defined but it doesn't find it ? I've had both lodash and underscore in the project for a hwile now and I didn't have this problem. Any idea on how to resolve this on my end ?

[code]

[2016-01-27 10:41] serut opened #129 "Two very different license on the project"
Hi,

On one hand, you wrote on the README (https://github.com/msavin/Mongol/blob/master/README.md#about) that Mongol is limited to a single user. But on another hand, you put the MIT license in your documentation directory : https://github.com/msavin/Mongol/blob/master/documentation/LICENSE.md

Can you clean up that ?

[2016-01-27 22:29] Laurentiu-Andronache commented on #123
@msavin This is needed, please don't forget...

[2016-01-29 14:21] Meloncon commented on #125
I experienced this same error when I added Mongol with JetSetter previously installed. I resolved the issue by having both installed, then removing the JetSetter package (which stops the Error Code 8 from happening and leaves just Mongol installed), I then installed JetSetter once more and things seem to be happy and working.

Not sure why there seems to be the requirements to have Mongol installe

[2016-01-29 14:59] stivaugoin commented on #125
It's not work here. I try JetSetter first and Mongol first, but when I have twice, it's not working. Separately, it's work. But, I have this only in 1 project (I work in 4-5 meteor project, including 2 on 1.2.1).
It's really strange behavior.

[2016-01-30 17:13] csnero opened #130 "error: connect ETIMEDOUT"
Hi：
when i use "meteor add mavin:mongol"
Errors while adding package:
While downloading dburles:mongo-collection-instances@0.3.4...:
error: connect ETIMEDOUT

While downloading lai:collection-extensions@0.1.4...:
error: connect ETIMEDOUT

While downloading meteortoys:toykit@2.2.1...:
error: connect ETIMEDOUT

While downloading msavin:mongol@1.6.2...:
error: connect ETIMEDOUT

how can I use Mongol-

[2016-02-17 08:55] boustanihani commented on #125
Same issue here...

[2016-02-17 16:29] stivaugoin commented on #62
I had the same problem, but I don't understand where to apply the solution to listing collections manually. Presently I use meteortoys:allthings (free, not premium). It's supposed working with this package too? When I use this code in /lib:

[code]

I have this error:

`TypeError: Cannot call method 'set' of undefined`

I think I really don't understand! haha

[2016-03-10 12:29] dubielzyk opened #131 "Object.observe deprecation"
On latest version of Chrome I keep getting:
`'Object.observe' is deprecated and will be removed in M50, around April 2016. See http://chromestatus.com/features/6147094632988672 for more details`

[2016-03-11 13:24] laurentpayot commented on #125
Same here…

[2016-03-11 15:34] stivaugoin commented on #125
**Work around**
Uninstall msavin:mongol and msavin:jetsetter
Install meteortoys:allthings
Mongol and JetSetter is available free

[2016-03-11 15:34] #125 closed

[2016-03-13 18:58] Incisive commented on #131
Also seeing this after upgrading chrome.

[2016-03-13 19:01] msavin commented on #131
Fix is on the way. It's a shame they deprecated such a cool feature.

Sent from my iPhone

[2016-03-22 04:20] Sivilll opened #132 "A suggestion:"
The gitter chat [icon](https://badges.gitter.im/owner/repo.png) added at the top of the readme file to make people aware that this repo has a community waiting to help or contribute. It is a great way to get involved directly to users who are familiar with the package.

Have a good day.

[2016-03-30 17:30] wizonesolutions opened #133 "Meteor 1.3: _ is not defined"
Guessing you're missing an explicit dependency somewhere or something. I get this on the client side in `detectCollections`. Not sure if it's related to other errors (e.g. something is blocking Underscore from loading), but just reporting it for now.

[2016-03-31 10:36] wizonesolutions commented on #133
Seemed to be a peripheral issue due to reference issues in internal packages in the app. TIL that `window` isn't in the global scope anymore (it's called `global` now on the client side, and one has to use `global.document`, `global.navigator`, etc.).

[2016-03-31 10:36] #133 closed

[2016-04-12 10:46] kalubunda commented on #43
Hey my name is mandla i just wanna ask how to display data in a tabular from joins collections.
i joined two collections and want to display the data in a tabular form. thank you

[2016-04-13 04:10] faavictoriano opened #134 "Mongol with role based permission"
Good day!

Can we use mongol with role based permission? The Admin roles only can use ctrl+m ? the the subscribe with role based?

[2016-04-13 05:26] faavictoriano commented on #134
i am working with role based permission and i use

var loggedInUser = this.userId;
   if (Roles.userIsInRole(loggedInUser,['admin'])) {
        return MyCollection.find();
    }

but there's any way to disable the ctrl+m if the user not loggined?

[2016-04-15 13:27] andersr commented on #131
Chrome 50 has now been released and Object.observe has been [removed](https://www.chromestatus.com/features/6147094632988672). Any updates on this fix?

[2016-04-17 05:04] msavin commented on #131
Sorry that its taking so long - hands are full. However, Meteor Toys try to use Object.observe first, and if its not available, they fall back to polling every second or so. It should work for as long as Chrome returns undefined for Object.observe. If Chrome is not already making Object.observe undefined, I can suggest hacking it at least for now.

[code]

[2016-04-17 06:05] maxmatthews commented on #131
This was throwing a warning in the Chrome JS console for a while about being depreciated but now that they've completely removed it, Chrome automatically sets `Object.observe = undefined`, so it no longer throws a warning, making your code block above unnecessary.
Thanks for all your hard work @msavin, looking forward to the updates whenever they come out.

[2016-04-17 23:49] phocks opened #135 "Getting 'Object.observe' is deprecated in Google Chrome"
And it's April now, so I'm thinking this may break Mongol soon perhaps.

[2016-04-26 07:48] msavin commented on #124
Thanks for reporting. I've added Mongol as a dependency in the upcoming 2.0 release (should be just a few days now). Closing issue in the meanwhile.

[2016-04-26 07:48] #124 closed

[2016-04-26 07:49] msavin commented on #127
Hey man, unfortunately I do not have any way to trace back the source code. My best advice would be to go for the latest as a lot of changes hit in 1.0 and then the versions after that. Mongol should not have any issues working with Bootstrap/etc - if you see some please let me know.

[2016-04-26 07:49] #127 closed

[2016-04-26 07:50] msavin commented on #129
Thanks for the heads up. The LICENSE.md just neede to be removed as I've begun to cover everything under Meteor Toys license.

[2016-04-26 07:50] #129 closed

[2016-04-26 07:51] msavin commented on #135
Thanks for heads up - it should not break Mongol because the Mongol is unbreakable ^_^ ... and because it falls back to polling if Object.observe returns falsey

[2016-04-26 07:52] msavin commented on #132
Thanks - will consider it for next update :)

[2016-04-26 07:52] #132 closed

[2016-04-26 07:53] msavin commented on #134
Hey - this is not included/recommended as Mongol is intended for development purposes only.

[2016-04-26 07:53] #134 closed

[2016-04-26 07:54] msavin commented on #130
Hmm - this sounds like an issue with Meteor's ability to download packages (I believe there was some scheduled downtime for it a while ago). It should work if you try again. If the issue persists please let me know.

[2016-04-26 07:54] #130 closed

[2016-04-26 07:55] msavin commented on #126
Hey - thanks for the tip - I've tried to replicate but could not. I recall Firefox has a quirk with contenteditable, but trying now on a new version does not seem to have any issues. If it continues, please let mek now.

[2016-04-26 07:55] #126 closed

[2016-04-26 07:58] msavin commented on #128
Hmm, I'm not sure what we can do here since they both use the same variable name. I could suggest you edit one of the variable names? Maybe loading lodash after Mongol would help. Otherwise - I'm not sure if there is much that could be done on the side of Mongol

[2016-04-26 09:48] sylido commented on #128
Well maybe substituting underscore with lodash would help ?
I solved it by doing `_.contains = _.includes;` in one of my files.
I'll close this issue, thanks.

[2016-04-26 09:48] #128 closed

[2016-04-26 10:32] msavin commented on #128
Cool - I believe Meteor still uses underscore on the server so Meteor Toys will follow that default. If they update it, I'll change the plan.  Glad you got it working :+1:

[2016-05-10 08:11] msavin commented on #135
Mongol 2.0 has solved this issue. To get the latest Mongol, run `meteor update` or re-install the package.

[2016-05-10 08:11] #135 closed

[2016-05-10 08:12] msavin commented on #131
Mongol 2.0 has solved this issue. To get the latest Mongol, run `meteor update` or re-install the package.

[2016-05-10 08:12] #131 closed

[2016-05-10 14:48] maxmatthews opened #136 "JSON Syntax Doesn't Show Up in 2.0.1"
Attached screenshots of what is happening and what it should look like. Looks like toykit.css line 548 is the issue. Just need to remove it and they show up again. Will create a pull request if I get a chance.
![screen shot 2016-05-10 at 10 46 11 am](https://cloud.githubusercontent.com/assets/4709710/15150758/801d93de-169c-11e6-877a-a056bb50a55c.png)
![screen shot 2016-05-10 at 10 46 02 am](https:

[2016-05-10 14:55] msavin commented on #136
Thanks for the report. Are those screenshots of Mongol? Also, can you
please send a package list?

On Tuesday, May 10, 2016, Max Matthews notifications@github.com wrote:

[2016-05-10 15:06] maxmatthews commented on #136
Yes, those are screenshots from mongol. Just didn't want to reveal my whole DB structure. :-p
Here's my package list

[code]

Looks like the problem is coming from MeteorToys, although that may be intentional.

[2016-05-10 15:30] maxmatthews commented on #136
Never mind on me fixing it myself. Looks like the CSS file is in MeteorToys which isn't open sourced so I can't do a pull request. I'll just wait patiently.

[2016-05-10 17:21] lonyele commented on #136
same here too. before, when I click collections on mongol, its background is dark grey and I can update the text normally. now it is white background and when I try to update it, texts are becoming white which I can't write anything...

[2016-05-10 20:05] gulci commented on #136
Having the same issue as lonyele. Instead of the light-gray maxmatthews is getting, I just get white.

![screen shot 2016-05-10 at 1 03 48 pm](https://cloud.githubusercontent.com/assets/8071536/15160682/b966b626-16af-11e6-8e88-10ff1c069af9.png)

[2016-05-12 13:27] vjrj opened #137 "Some chrome extension shortcut conflicts with Mongol Ctrl-M"
Similar to #20 I cannot open the Mongol console because of a conflicting chrome extension.

The old `Session.set("Mongol_settings_display", true)` workaround does not work with the current Mongol version. Any current way to open Mongol via the console or to redefine the shortcut?

TIA

[2016-05-12 13:53] msavin commented on #137
MeteorToys.open() and close() should help. There's also an (not yet
announced) meteortoys:toggle package.

On Thursday, May 12, 2016, vjrj notifications@github.com wrote:

[2016-05-12 19:39] #136 closed

[2016-05-12 19:39] #137 closed

[2016-05-18 03:19] vjrj commented on #137
Great... thanks!

[2016-07-03 13:20] AlABarazi commented on #106
I got this error when I used doctorpangloss:filter-collections package with meteor 1.3.
meteor add check
solved it.

Thanks brunolemos!

[2016-08-06 00:18] ghost opened #138 "where do I put this line to add new collection?"
I'm trying to add a collection using `Package["msavin:mongol"].Mongol.showCollection('collection_name');`  on server.js on meteor 1.3 but, it give me `Cannot call method 'showCollection' of undefined` error. where should I put this? I can create PR to update the doc once I figure it out. Thanks.

I tried this: `import Mongol from 'meteor/msavin:mongol';`
but still get error: `TypeError: Object [ob

[2016-08-23 20:08] pcoutin commented on #138
same

`import {Mongol} from 'meteor/msavin:mongol'` doesn't work either...

if I do import Mongol from 'meteor/msavin:mongol'; I just get null for Mongol

[2016-08-23 20:37] pcoutin commented on #138
Package['msavin:mongol'] on `meteor shell` equals {}.

[2016-09-02 12:06] lesliechw opened #139 "Ctrl + M not working in Mac Chrome browser"
Any advice? Never able to load up Mongol. Please advice, thank you.

[2016-09-02 15:30] thomasvalera opened #140 "Empty MeteorToys_orbs div at the top when opening Mongol"
When pressing CTRL + M on Safari & Chrome, a div gets added:
[code]
that takes the whole screen width and 100px height.
The div appears empty with white background color and over the actual Mongol div meaning that the top 100px are not visible.

Any ideas?

[2016-09-02 15:41] #140 closed

[2016-09-22 12:19] webmagnets commented on #139
I am having the same issue.

[2016-09-22 12:41] webmagnets opened #141 "How can I show server only collections?"
Is it possible to show server only collections? Collections that I haven't published.

[2016-09-22 13:23] webmagnets commented on #139
I was having this problem, but now it resolved itself. Are you still experiencing the issue?

[2016-11-07 06:50] jayspirits opened #142 "ctrl + M not working in meteor 1.4.2"

[2016-11-15 14:53] msavin commented on #141
Unfortunately not. Mongol only works on Publish data. You could publish them for debug purposes though.

[2016-11-15 14:53] #141 closed

[2016-11-15 14:54] msavin commented on #139
@lesliechw bump.

There was like a buggy Chrome release, maybe that was it?

[2016-11-15 14:58] msavin commented on #142
Odd - was this working before you updated?

Also: can you try the `meteortoys:toggle` package?

[2016-11-24 10:47] obiwarn opened #143 "Can I search using Mongo.find() syntax?"

[2017-01-16 12:50] sosnet opened #144 "Not signed in"
Hello, I get the message "Not signed in" when I press Ctrl+M on http://localhost:3000/. Also the dot next to _Account_ is red. It shows all my Collections, but no content.
I'm in an Ionic2 project using Meteor.

[2017-01-21 12:44] maxfriedmann commented on #102
I am using the version 2.0.1 and am getting this error again in my Angular2 project.
[code]

[2017-02-02 08:25] iamfeek commented on #142
Hey msavin!

I have been using this package for the longest time and it just suddenly decides to stop working on me.

My Stack:
Ubuntu 16.10
Meteor 1.4.2.3
Google Chrome

I have tried researching from previous issues and these are the things that I have tried.
1. `Session.set("Mongol_settings_display", true);`
2. `disabling all Chrome extensions`
3. `meteor add meteortoys:toggle`
4. `inspect eleme

[2017-02-02 08:36] cosmin-novac commented on #142
I had the same problem yesterday after updating meteor. I simply went ahead and removed mongol, then added it back again. It's working now.

[2017-02-02 10:34] iamfeek commented on #142
@tenshis I did the same but, unfortunately, to no avail.

[2017-02-02 10:38] cosmin-novac commented on #142
Perhaps try to move it to the top of your packages list? The readme says it helps sometimes.

[2017-02-02 10:38] msavin commented on #142
Can you try to open it with meteortoys:toggle

On Thursday, February 2, 2017, Muhammad Syafiq Hanafee <
notifications@github.com> wrote:

[2017-02-06 13:22] iamfeek commented on #142
@msavin adding the package does not show any visuals.

meteortoys:toggle@3.0.0
msavin:mongol@2.0.1

MeteorToys.open() returns
` MeteorToys is not defined`

[2017-02-06 13:23] iamfeek commented on #142
@tenshis I have tried that, still the same dude. Urghhhh!

[2017-02-06 14:06] msavin commented on #142
Strange - can you send the output of your package list, preferably
`formatted`

On Mon, Feb 6, 2017 at 2:23 PM, Muhammad Syafiq Hanafee <
notifications@github.com> wrote:

[2017-02-06 21:40] webmagnets opened #145 "Change position"
Is there a way to change the position so it doesn't cover part of my site?

[2017-02-06 22:49] msavin commented on #145
Unfortunately, that is not a feature, though you could hack the CSS:

[code]

[2017-02-06 22:49] #145 closed

[2017-02-06 22:50] msavin commented on #139
Closing this issue as I have heard about it and am not able to reproduce. If you issue is still recurring, please let me now.

[2017-02-06 22:50] #139 closed

[2017-02-06 22:51] msavin commented on #143
Unfortunately, that feature is not available though I am considering it for a future version. It depends on how active the Meteor community remains.

[2017-02-06 22:51] #143 closed

[2017-02-06 22:52] msavin commented on #144
Can you please send a list of packages you are using, and maybe screenshots of the issue?

[2017-02-07 03:42] iamfeek commented on #142
@msavin
meteortoys:toggle
msavin:mongol
meteor-base@1.0.4
mobile-experience@1.0.4
mongo@1.1.14
blaze-html-templates@1.0.4
reactive-var@1.0.11
jquery@1.11.10
tracker@1.1.1

standard-minifier-css@1.3.2
standard-minifier-js@1.2.1
es5-shim@4.6.15
ecmascript@0.6.1
shell-server@0.2.1
browser-policy@1.0.9
react-meteor-data
accounts-ui@1.1.9
accounts-password@1.3.3
accounts-base@1.2.14
themeteorchef:bert

[2017-02-07 11:02] msavin commented on #142
So - the first issue could be with allthings and Mongol. All Things
includes Mongol. Please remove all Toy packages and then add
meteortoys:allthings, and then maybe try to move it to top of list

On Tue, Feb 7, 2017 at 4:42 AM, Muhammad Syafiq Hanafee <
notifications@github.com> wrote:

[2017-02-10 17:49] sosnet commented on #144
**meteor list**
[code]

**npm list depth=0**
[code]

**Screenshot**
![fireshot capture 41 - - http___localhost_3000_](https://cloud.githubusercontent.com/assets/945587/22837582/92f2e6ea-efc1-11e6-9cfb-d7c2cde7ac5e.png)

[2017-03-26 11:08] NanIsNotANum opened #146 "mogol is deployed to production version"
Hi,

Thanks for the awesome tool for meteor development.

I recently discovered that mongol still works on my production version...
if I type "ctrl+m", the mongol window shows up on my "production" website...
but I haven't changed any deploy setting(I have been using mupx)

Do you maybe have any idea what is going on?

Thanks a lot!

[2017-03-26 11:31] msavin commented on #146
Hey, this sounds very strange. Can you please send your Meteor version and
package list

On Sunday, March 26, 2017, Nan <notifications@github.com> wrote:

[2017-03-26 11:50] NanIsNotANum commented on #146
Thanks a lot :)

**Meteor version :METEOR@1.3.1**

**package list (recently commented out mongol for data security concern)**

meteor-base             # Packages every Meteor app needs to have
mobile-experience       # Packages for a great mobile UX
mongo                   # The database Meteor supports right now
blaze-html-templates    # Compile .html files into Meteor Blaze views
reactive-var

[2017-03-26 14:07] msavin commented on #146
I just did a test, and when pushing Meteor into production, it removes Mongol.

Can you try to run `meteor --production` to see what happens?

Also, you might want to make sure that MUP is not deploying your app in development mode.

[2017-03-26 14:08] msavin commented on #142
Hey, is it safe to assume these issues have been revolved?  If so, I will proceed to close to the issue.

[2017-03-27 14:20] NanIsNotANum commented on #146
Thanks for the quick reply, I will try it and reply ASAP

[2017-04-02 14:34] NanIsNotANum commented on #146
Hey,
it turns out that I was deploying with another machine, and the mup file was set up with
debug mode, and after I turn off the debug mode, everything went well again.

Thanks a lot for the good effort!

[2017-04-02 14:34] #146 closed

[2017-04-04 04:03] dredl opened #147 "There was an error updating your document. Please review your changes and try again."
Hi everyone!
After updating from aldeed:collection2 to aldeed:collection2-core and to npm simpl-schema package i cant change any data in mongol. In console i got following error:
[code]

[2017-04-04 11:37] sgoudie commented on #147
+1 Same here.

[2017-04-08 18:20] msavin commented on #144
its strange, everything looks ok. can you try to move mongol to the top of your package list? or perhaps this order:

`meteor-base
mongo
msavin:mongol`

[2017-04-25 09:53] adamthewan commented on #147
+2 same! :(

[2017-04-25 19:23] sgoudie commented on #147
@msavin is there any plan to fix this? Be good to know as we use Mongol everyday!

[2017-04-25 19:25] msavin commented on #147
Oh boy. Will take a look at this during the week :)

On Tue, Apr 25, 2017 at 9:23 PM, Samuel Goudie <notifications@github.com>
wrote:

[2017-04-25 19:29] sgoudie commented on #147
🙌 Thanks Max!

[2017-05-19 04:04] adamthewan commented on #147
@msavin Did you manage to solve it?

[2017-05-23 12:45] msavin commented on #147
Update is coming. Please see: https://docs.google.com/a/maxsavin.com/forms/d/e/1FAIpQLScNwc2ni3oO5HWtsaoW6q4YDU_z_j6XiqPyUCz9Dt9FQ52qeA/viewform?c=0&w=1

[2017-05-23 12:46] msavin commented on #144
Closing on the assumption that this had fixed it

[2017-05-23 12:46] #144 closed

[2017-06-14 20:48] msavin commented on #147
hey @everyone can you please try the 4.0 and let me know how its working for you? its working on my end :)

[2017-06-14 21:01] msavin commented on #142
I just updated Mongol to 4.0. If you still have some outstanding issues, you may want to try it.

Key thing may be to move it to the top of your package list. Additionally, in case there is a non-standard keyboard set up, you can try meteortoys:toggle.

[2017-06-14 21:01] #142 closed

[2017-06-14 21:03] msavin commented on #138
Hey - sorry that it took so long to get to this. The issue is that you need to run that on the client. I'll double check the readme to make sure its more clear.

[2017-06-14 21:03] #138 closed

[2017-06-14 21:03] msavin commented on #138
On another note, Mongol 4 is out - you might want to try it. It's working much better with third party packages now.

[2017-06-14 21:05] msavin commented on #123
Hey, so, this is a bit harder than I thought. I'm testing out some new ideas, which may happen with a re-write of Meteor Toys. Still thinking about it, trying to see if the market for it is growing or shrinking. In the meanwhile, I will close this issue. Sorry for the bad news! If it helps, Mongol 4 is out now and its working much better with third party packages.

[2017-06-14 21:05] #123 closed

[2017-06-19 15:51] sgoudie commented on #147
Awesome, thanks Max. My key doesn't work anymore though. Do you offer a discount for upgrades from 3?

[2017-06-20 08:21] sgoudie commented on #147
Hey @msavin, upgraded to 4 here and still not allowing updates:

[code]

[2017-06-20 10:45] msavin commented on #147
Ahh shoot.

 - does this package drop some kind of global variable that can be used to detect it?
 - It does seem like you are using an atmosphere package, not NPM, right?
 - Can you provide some kind of reproduction?

[2017-07-05 22:32] merlinpatt opened #149 "React version?"
I know that this doesn't get bundled for production, so Blaze and related code doesn't weight down the client, however it would be nice to see a React version. I'd like to remove all Blaze related code from my project even in development. So it would be nice to see a React version of this made.

[2017-07-05 23:50] msavin commented on #149
I'm looking to do something new here.. hope to have more to share soon.

If Mongol dynamically imported Blaze when you'd open it, would that be okay for you or would you still prefer if it were in React?

[2017-07-28 00:38] isZumpo commented on #147
I'm also having this problem when running aldeed:collection2-core with npm simpl-schema. I'm using this schema:

`ContractorSchema = new SimpleSchema({
    name: {
        type: String,
        label: "Name",
        max: 60
    },
    address: {
        type: String,
        label: "Address",
        max: 60
    },
    email: {
        type: String,
        label: "Email",
        max: 60,

[2017-08-11 09:38] sangeeth5320 opened #150 "Issue in viewing the data"
Hi , the mongol data in browser is indent to right side , can we make the data to display aligned left .

could be helpful if any work around for that

thanks

[2017-10-18 07:32] lc3t35 commented on #147
Hi, FYI I have the same error message with restivus
[code]

[2017-11-17 13:22] kevinklinegargar opened #151 "Ionic app runs in different port from a meteor server. How can we able to show the minimongo data in ionic serve port?"
My app is using Ionic framework and angular2 for frontend and meteorjs as the backend. They are running in different port. Example the main app is running on port localhost:8100  and the meteor server is on localhost:3000. The mongol can only be open in localhost:3000 but the minimongo is on the localhost:8100. There's a way the mongol can be open in the ionic app (localhost:8100) ?

[2017-12-14 13:28] Themandunord opened #152 "Error with meteor 1.6.1-beta"
Hi @msavin :)

When I have you package (msavin:mongol) in my project, I can't run it.
I have this problem :

[code]

Meteor 1.6.1 use Babel 7 and I think something is wrong with that.
When I remove your package, my app launch...

I will report the issue on the meteor repo too.

Thanks.
Rémy.

[2017-12-14 14:48] RemyLespagnol commented on #152
A comment from @benjamn : https://github.com/meteor/meteor/issues/9469#issuecomment-351552571

[2018-02-04 22:07] neil-s opened #153 "Session dependency needs to be made explicit"
1. Create a fresh meteor app with no packages installed
2. Install mongol
3. Run meteor

Console error: "Uncaught ReferenceError: Session is not defined mongol"

Looks like session is no longer installed with meteor by default, so this dependency should be made explicit.

[2018-02-04 22:11] msavin commented on #153
Any chance you are using an old version of MongoInspector? Mongol no longer uses Session

[2018-02-05 00:15] neil-s opened #154 "No collections being shown"
I just installed Mongol on a reasonably new project, and don't see my collections listed when I hit Ctrl+M, just an empty widget saying I'm not signed in. The collections should be discovered automatically without me explicitly adding them, right?

Here is my .meteor/packages:
[code]

And here is my .meteor/versions

[code]

[2018-02-05 08:48] msavin commented on #154
For some reason, your app is using an ancient version of Mongol `msavin:mongol@0.5.5`

It's at like 4.0.0 right now

[2018-02-05 21:44] neil-s commented on #154
I noticed that, but for some reason Meteor thinks later versions will be incompatible with something else. I tried uninstalling and reinstalling Mongol, no dice. I tried `meteor update mongol` and it said "The specified packages are at their latest compatible versions.". Are there any packages on that list that you may have a dependency on or from?

[2018-02-06 00:15] neil-s commented on #153
Yup, I was. Getting meteor to agree to installing a new package removed that dependency.

Sorry for the noise and thanks for being so responsive to noob questions!

[2018-02-06 00:15] #153 closed

[2018-02-06 00:19] neil-s commented on #154
So the issue was twofold, leaving these details here in case someone else runs into it:

1) Meteor was installing an old version. I managed to get it to install a new version, which fixed the issue. I did some series of operations that involved adding and removing packages, deleting the versions file, reordering packages in the packages file. Not sure what shortest reproducible set of steps fixes

[2018-02-06 00:19] #154 closed

[2018-02-07 17:08] hanskohls opened #155 "Meteor 1.6.1 and meteortoys:allthings 4.0.0 shows only the users collection"
I updated a project to Meteor 1.6.1 this morning and ever since doing so the only collection I can see in Mongol Pro is 'users'.

I'm not sure what is causing it, but it hapened immediately after this update. I can see no error messages either on the server or the client.

List of my packages is here:

accounts-base@1.4.2
accounts-password@1.5.0
aldeed:autoform@6.2.0
aldeed:collection2@2.7.1
aldee

[2018-02-19 13:27] Floriferous commented on #147
Any update on this? Started seeing this error today.

[2018-03-06 09:40] Lucbug commented on #147
Same here

[2018-03-08 09:54] msavin commented on #147
Ugh.. sorry folks. I'm considering doing a total re-write of Mongol / Meteor Toys, but the market has become much smaller compared to the hype days. I might have to set the price at $199 for this one. I would love to hear any feedback, thoughts, requests, etc 😄

[2018-03-08 17:39] jeffm24 opened #156 "Update aldeed:collection2 dependency to 3.0.0"
I have the latest version of collection2 (3.0.0) installed in my project, but there is a dependency on version 2.3.2 in the latest version of mongol; the latest version it will let me install because of this is 0.5.5. I assume this is because there was no dependency on collection2 in that version? Any chance the dependencies could be updated?

[2018-03-09 05:33] yanickrochon commented on #156
Just ran into this too. Please update as the former package _is_ marked as deprecated.

[2018-04-12 17:22] devagrawal09 opened #158 "dynamic imported collections don't show up"
If I import a module using the `import()` that imports a collection from the api folder that wasn't imported before on the client before, it doesn't show up in Mongol. Is there a fix for that?

[2018-04-19 08:58] steven-tib commented on #156
Same issue here with the dependency to 2.3.2

[2018-04-19 19:32] ghost commented on #156
I have a PR pending but it seems that this package might be abandoned.

[2018-06-06 12:04] Floriferous opened #159 "Add explicit underscore dependency"
I'm not entirely sure this is the right place to post this, but I tried removing underscore from my app, and got a crash:

[code]

I'm assuming this happens because the package uses underscore as a global variable? So could it be added as an explicit dependency to avoid me having to add it to my packages?

[2018-06-06 19:52] yanickrochon commented on #159
+1

[2018-06-07 15:08] R4BN commented on #159
+1

[2018-06-10 06:24] arumals commented on #159
+1

[2018-06-16 17:15] gustawdaniel commented on #159
+1

[2018-06-21 04:23] zachspangler commented on #159
+1

[2018-06-21 21:01] kerf007 commented on #159
+1

[2018-06-22 10:58] fillipefeitosa commented on #159
+1

[2018-06-22 11:00] fillipefeitosa commented on #156
@jeffm24
Your PR seems to solve the problem. Any answers from the maintainer?
Is there another solution similar to Mongol?

[2018-06-22 14:16] msavin commented on #159
And.. done!

I tested on todos and a regular starter app.. and would appreciate a further confirmation that its working.

[2018-06-22 14:16] msavin commented on #156
And.. done!

I tested on todos and a regular starter app.. and would appreciate a further confirmation that its working.

[2018-06-22 14:17] msavin commented on #155
It might be a code execution issue. Can you try to move meteortoys to the upper portion of your package list?

[2018-06-22 22:19] msavin commented on #147
Improved compatibility with Collection2 is here. Please try the latest versions. If you run into issues, please open a new thread.

[2018-06-22 22:19] #147 closed

[2018-06-22 22:19] msavin commented on #150
@sangeeth5320 are you using any kind of css framework?

[2018-06-22 22:22] msavin commented on #152
Thanks for reporting. I just had the chance to test on Meteor 1.7 and it works

If you run into any issues please open a new ticket.

[2018-06-22 22:22] #152 closed

[2018-06-22 22:23] msavin commented on #158
@devagrawal09 try moving Mongol up on the package list.  Just need to make sure that its code executes before the modules. If it doesn't work, please let me know.

[2018-06-22 22:23] #158 closed

[2018-06-22 22:24] msavin commented on #151
Unfortunately, there is no such way to do this.

[2018-06-23 06:34] merlinstardust commented on #149
I don't know how I missed this back then (guess my notifications weren't turned on).

Dynamic import would be better but I would still prefer React.

What did you end up doing?

[2018-06-24 10:24] msavin commented on #155
Closing this out - please try the suggested fix and new version. If the issue persists, just let me know.

[2018-06-24 10:24] msavin commented on #150
Closing this out - please try the suggested fix and new version. If the issue persists, just let me know.

[2018-07-12 17:26] Floriferous commented on #159
Did not fix it for me:

[code]

Here's my `.versions` at relevant lines:

[code]

When I try to update `meteortoys:allthings`, I get the following issue: `meteor update meteortoys:allthings - The specified packages are at their latest compatible versions.`

[2019-07-12 18:41] Floriferous opened #160 "Update meteor package depency versions"
Both `aldeed:collection2` and `dburles:mongo-collection-instances` can be updated by a few point versions. The former specifically introduces dependency issues because of `raix:emitter`, upgrading to `3.0.2` would be great!

[2019-07-12 18:43] msavin commented on #160
Actually, I think I can just remove them. I will push up a new version by
Monday

On Fri, Jul 12, 2019 at 8:41 PM Florian Bienefelt <notifications@github.com>
wrote:

[2019-09-18 21:41] BrianMulhall opened #161 "Missing Collections from Mongol UI"
I don't see all the collections defined in my application in the tools UI

I tried it with autopublish and insecure packages installed as well just to see if it made a difference  but still only like 2 of 10 collections appear

[2019-09-18 23:17] msavin commented on #161
Can you send me your list of packages and their versions

Sent from my iPhone

[2019-09-18 23:40] BrianMulhall commented on #161
accounts-base@1.4.4
accounts-password@1.5.1
aldeed:simple-schema@1.5.4
allow-deny@1.1.0
anti:i18n@0.4.3
aslagle:reactive-table@0.8.45
autoupdate@1.6.0
babel-compiler@7.3.4
babel-runtime@1.3.0
base64@1.0.12
binary-heap@1.0.11
blaze@2.3.3
blaze-html-templates@1.1.2
blaze-tools@1.0.10
boilerplate-generator@1.6.0
caching-compiler@1.2.1
caching-html-compiler@1.1.3
callback-hook@1.1.0
check@1.3.1
chrism

[2020-10-13 12:55] djlogan2 commented on #160
I am having troubles updating to meteor 1.11, and it turns out to be meteortoys which turns out to be collection2, which it now appears to be this package. Can you update this in some fashion?

[code]

It does let me install 7.0.1 for some reason, although that appears to be incompatible with meteortoys.

[2020-10-13 16:44] msavin commented on #160
New version is in the works! Hoping for this month or next

Sent from my iPhone

[2020-10-23 12:28] red-meadow opened #162 "mongol@10.0.1 requires explicit jquery dependency"
The latest Mongol doesn't work as it is, you have to manually add Atmosphere and npm `jquery` packages.

Steps to reproduce:
1. `meteor create app --bare`
2. `meteor add msavin:mongol@7.0.1` - works fine
3. `meteor add msavin:mongol@10.0.1` - `Uncaught Error: jQuery not found` in a browser
4. `meteor add jquery` and `npm i jquery --save-dev` - now it works

Meteor version: 1.11.1.

[2021-02-01 06:47] laubonghaudoi commented on #162
Same here, is it possible to remove such dependency in future updates? Also it requires `meteor add blaze` to work. This at least should be indicated in the doc